
  <div class="overlay pop-up-final-outerr">
    <div style="position: relative;width: 100%;height: 100%;">
      <div class="quiz-caller" style="    background-color: rgb(255 190 88);">
        <a class="close-icon-quiz-caller" href="javascript:void(0)">
      <img style="display: block;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_82.svg?v=1651562668">CLOSE</a>
        <div class="inner-quiz-caller">
          <a href="https://www.typebeautyinc.com/collections/all-products"> 
  <img class="desk" style="width: 100%" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/web_6.png?v=1738819993">
 <img class="mob" style="width: 100%" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/mobile_5.png?v=1738820005">
</a>
        </div>
        
        
       
      </div>
      <div class="discount-caller">
                <a class="close-icon-discount-caller" href="javascript:void(0)">
      <img style="display: block;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_82.svg?v=1651562668">CLOSE</a>
        <div class="discount-caller-inner">
<a href="https://donate.smilefoundationindia.org/she-can-fly-typebeauty"> 
  <img class="desk" style="width: 100%" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/She_can_fly_Give_here_the_sky_4.png?v=1674315617">
 <img class="mob" style="width: 100%" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/She_can_fly_Give_here_the_sky_450_x_450_px_1.png?v=1674315618">
</a>
       
        </div>
       
      </div>
    </div>
  </div>
<style>
  
  .skincare-text{
   position: absolute;
    top: 58%;
    left: 14%;
    transform: translate(-50%, -50%);
    width: 11%;
  }
  .circi-circi{
  position: absolute;
    top: 58%;
    left: 14%;
    transform: translate(-50%, -50%);
    width: 16%;
  }
  .valid-till{
  position: absolute;
    top: 66%;
    left: 82%;
    transform: translate(-50%, -50%);
    width: 16%;
  }
  .curl-arrow{
  position: absolute;
    top: 48%;
    left: 71%;
    transform: translate(-50%, -50%);
    width: 17%;
  }
  .hexa-right-side{
  position: absolute;
    right: -20px;
    top: 0;
    width: 14%;
  }
  .discount-caller-inner{
  position: relative;
  }
  .second-text-pop-two{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 1.3vw;
    margin-bottom: 52px;
line-height: 165.19%;
/* identical to box height, or 33px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
  }
   .second-text-pop-two span{
  color: #FF8F1A;
  }
  .first-text-pop-two{
  font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 2.6vw;
line-height: 141.19%;
margin-bottom: 21px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .discount-caller-inner{
   background: url(https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_20_2.svg?v=1652387383);
    background-position: left;
    background-repeat: no-repeat;
    background-size: inherit;
    text-align: center;
  }
    .close-icon-discount-caller img{
  max-width: 16px;
    max-height: 16px;
    margin-right: 15px;
  }
  .close-icon-discount-caller{
  max-width: 16px;
    max-height: 16px;
    margin-right: 15px;
  }
  .inner-quiz-caller{
  display: flex;
    justify-content: space-between;
  }
  .inner-quiz-caller-right{
  width: 49%;
    position: relative;
  }
  .inner-quiz-caller-right img{
  width: 100%;
    display: block;
  }
  .inner-quiz-caller-left{
  background: url(https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_20_1.svg?v=1652378460);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 49%;
  }
  .close-icon-discount-caller, .close-icon-quiz-caller{
  display: flex;
    width: max-content;
   align-items: center;
    font-family: 'Inter';
font-weight: 600;
font-size: 15px;
line-height: 164.19%;
/* identical to box height, or 25px */
 position: absolute;
    right: 5px;
    top: 5px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
  }
  
  .quiz-caller ,.discount-caller{
    position: absolute;
    left: 50%;
    top: 50%;
    padding-bottom: 0;
    background-color: #fff;
    transform: translate(-50%,-50%);
    width: 67%;
    max-height: 78vh;
    overflow: auto;
    display: none;
    
  }
.discount-caller-inner{
margin-left: -20px;
margin-right: -20px;
}
  .quiz-caller{
  	z-index: 99;
  }
  .discount-caller{
  display: none;
  }

  .pop-up-quiz-con{
    display: none;
  }
  .overlay{
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none;
  }
  .quiz-page-container{
  position: relative;
    
  }
  .close-icon-quiz-caller img{
  max-width: 16px;
    max-height: 16px;
    margin-right: 15px;
  }
  .close-icon-discount-caller{
  max-width: 16px;
    max-height: 16px;
    margin-right: 15px;
  }
  .hexas{
  position: absolute;
    right: -20px;;
    top: 10%;
    transform: translateY(-50%);
    width: 23%!important;
  }
  .first-pop-text-one{
  font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 3vw;
line-height: 117.19%;
margin: 0;
margin-left: 2vw;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF8F1A;
  }
  .first-pop-text-two{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.5vw;
line-height: 154.69%;
margin-left: 2vw;
    margin-bottom: 44px;

letter-spacing: 0.05em;

color: #000000;
  }
  .quiz-caller-btn{
  margin-left: 2vw;
    display: inline-block;
    padding:15px 40px!important;
    font-weight: 500!important;
  }
   .quiz-btns{
  display: inline-block;
    background: #000000;
    color: #fff;
    padding: 15px 40px;
    margin-left: 2vw;
     transition: all 0.2s ease-out;
  }
  .quiz-btns:hover{
  background: #FF3FB5;
  }
  .two-two-btn{
  margin-left: auto!important;
    margin-bottom: 6vw!important;
  }
 @media only screen and (max-width: 1100px) {
  .quiz-caller ,.discount-caller {
   width: 90%;
  }
   .curl-arrow {
    position: absolute;
    top: 43%;
   }
}
  @media only screen and (max-width: 768px) {
  .inner-quiz-caller {
  display: block;
  }
    .inner-quiz-caller-left,.inner-quiz-caller-right{
    width: 100%;
      text-align: center;
    }
    .first-pop-text-one {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
      font-size: 7vw;
    }
    .first-pop-text-two ,.first-text-pop-two {
    
      font-size: 4.5vw;
    }
    .second-text-pop-two{
    font-size: 3.3vw;
    }
    .curl-arrow {
    position: absolute;
      left: 84%;}
    .valid-till {
    position: absolute;
    top: 57%;
    left: 92%;
    transform: translate(-50%, -50%);
    width: 28%;
}
    .circi-circi {
    position: absolute;
    top: 53%;
    left: 14%;
    transform: translate(-50%, -50%);
    width: 24%;
}
    .skincare-text {
    position: absolute;
    top: 54%;
    left: 14%;
    transform: translate(-50%, -50%);
    width: 18%;
}
}
.discount-caller{
display: none;
}
  .discount-caller{
        background-color: #ffeedd;
  }
</style>
<script>
 $('.discount-caller').fadeOut();
 document.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

  var readValue = sessionStorage['discountModalIndex'];
    console.log('readValue', readValue);
  if(readValue == null || readValue == undefined){
	  $('.quiz-caller , .pop-up-final-outerr').fadeIn();
  }
  

  $( ".close-icon-quiz-caller" ).click(function() {
    sessionStorage['discountModalIndex'] = true;
  $('.quiz-caller').fadeOut();
     $('.pop-up-final-outerr').fadeOut();
    //$('.discount-caller').delay(5000).fadeIn();
   // $('.pop-up-final-outerr').delay(5000).fadeIn();

  });
  $( ".close-icon-discount-caller" ).click(function() {
  $('.pop-up-final-outerr').fadeOut();
  });
    });
  
</script>
