<div class="clean-beauty-con">
  <div class="clean-beauty-con-inner">
    <div class="clean-beauty-left">
    <img style="display: block;width: 100%;position: relative;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Final_Images_for_Type_Website-13.jpg?v=1653078802">
    <img class="gola-lines" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Dash_circle_group-_about_us.svg?v=1650438931">
    <img class="pink-panther-arrow" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Arrow_3-_about_us.svg?v=1650439693">
      <img class="pink-panther-arrow-text" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Plus_all_the_good_stuff_minus_all_the_bad..svg?v=1650439746">
    </div>
    <div class="clean-beauty-right">
      <p class="we-got">We’ve got clean beauty down to </p>
      <div style="position: relative;"><p class="a-scien">a science.</p>
      <img class="science-underline" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Science_underline-_about_us.svg?v=1650439166">
      </div>
      <p class="clean-desc">This is why when we set out to develop our range of makeup, we wanted something that was clean, effortless, and rooted in dermatological science. It’s simple, express yourself without worrying about the consequences. And that meant going through our formulations with a fine-toothed comb to make sure every single ingredient in our products worked towards supporting your skin and healing it from within. </p>
    </div>
  </div>
</div>
<style>
  .clean-desc{
  font-family: 'Inter';
font-weight: 400;
font-size: 1.2vw;
line-height: 144.02%;
margin: 0;
    margin-top: 57px;
letter-spacing: 0.05em;

color: #000000;
  }
  .science-underline{
  position: absolute;
    left: 27%;
    bottom: -295%;
    transform: translate(-50%,-50%);
    width: 54%;
    z-index: -1;
  }
  .gola-lines{
  position: absolute;
    left: -3%;
    top: 31%;
    transform: translate(-50%,-50%);
    width: 35%;
    z-index: -1;
  }
  .we-got,.a-scien{
  font-family: Inter;
font-style: italic;
font-weight: 900;
font-size: 3vw;
line-height: 129.69%;
margin: 0;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF8F1A;
  }
  .clean-beauty-right{
  padding-top: 3%;
  }
  .clean-beauty-left,.clean-beauty-right{
  width: 48%;
    position: relative;
  }
  .clean-beauty-con{
  padding: 80px 0;
  }
  .clean-beauty-con-inner{
  width: 68%;
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
