
<div class="custom-code-section-twoo">
 
  <div style="max-width: 98%!important;overflow-x:hidden!important;">
  <div class="marquee-outer-custom">
  <div class="marquee-text-wrapper-custom">
 
    <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
<p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
 <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
   <p>Free Shipping</p>
    <p>Loved by 10 Lakh People</p>
    <p>Easy Returns</p>
    <p>Cruelty Free</p>
  <p>Limited offer till diwali</p>
  </div>
  </div>
    </div>
</div>
{% schema %}
  {
    "name": "Custom Code diwali",
    "class" : "future-of-beauty-main" ,
    "settings": [
      {
        "id": "first-text",
        "type": "text",
        "label": "Heading",
        "default": "The Future of Beauty Has Arrived."
      },
 {
        "id": "second-text",
        "type": "text",
        "label": "Sub Heading"
      },
{
        "id": "third-text",
        "type": "text",
        "label": "third Heading"
      },
{
        "id": "linktext",
        "type": "text",
        "label": "third Heading"
      },
      {
        "id": "custom_text_body",
        "type": "url",
        "label": "button link"
      }
    ],
    "presets": [
      {
        "name": "Custom code diwali",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<style>


.first-text {
	font-family: Inter;
	font-style: italic;
	font-weight: 900;
	font-size: 3.3vw;
	line-height: 127.19%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	width: 82%;
	margin: auto;
	margin-bottom: 20px;
}

.second-text,
.third-text {
	font-family: Inter;

	font-weight: 600;
	font-size: 1.33vw;
	line-height: 169.69%;
	/* or 25px */

	letter-spacing: 0.075em;

	margin: 0;
	margin-bottom: 30px;
	color: #000000;
}

.link-section {
	font-family: Inter;
transition: all 0.2s ease-out;
	font-weight: 600;
	font-size: 1.3vw;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
}
  .link-section:hover{
  color: #FF3FB5;
    border-bottom: 2px solid #FF3FB5;
  }
.custom-code-section-two-inner {
	width: 57%;
	margin: auto;
}
.right-corner-hexagons {
	position: absolute;
    right: 0;
    top: 80px;
    width: 230px;
}

.science-circle {
	position: absolute;
    left: 38.9%;
    top: 46.4%;
    transform: translate(-50%, -50%);
    width: 8%;
}

.underline {
   position: absolute;
    left: 61.3%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.turned-arrow {
   position: absolute;
    top: 54%;
    right: 17%;
    transform: translate(-50%, -50%);
    width: 9%;
}

.make-your {
   position: absolute;
    right: 3%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 12%;
}

.left-gola {
	position: absolute;
    left: 17%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 12%;
}

  
  
.marquee-text-wrapper-custom{
	margin: 0;
 margin-bottom: 20px;
  display : flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 1000s linear infinite;
}
  @keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
  .marquee-text-wrapper-custom p{
  font-family: 'Inter';
    margin: 0 30px;
font-weight: 900;
font-size: 20.4345px;
line-height: 133.69%;
white-space: pre;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .marquee-outer-custom{
   display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  }
  @media only screen and (max-width: 1100px) {
   
    .custom-code-section-two-inner{
    width: 78%;
    }
    .second-text{
    font-size: 2vw;
    }
  }
  @media only screen and (max-width: 768px) {

    .right-corner-hexagons{
    position: absolute;
    right: 0;
    top: 1%;
    width: 16%;
    }
    .first-text{
    font-size: 5.2vw;
      width: 82%;
      margin-bottom: 28px;
    }
    .custom-code-section-two-inner{
    width: 86%;
    }
    .second-text, .third-text{
    font-size: 3.5vw;
      margin-bottom: 0;
    }
    .link-section{
     font-size:2.3vw;
    }
    .left-gola{
    position: absolute;
    left: 17%;
    top: 67%;
    transform: translate(-50%, -50%);
    width: 16%;
    }
    .marquee-text-wrapper-custom{
    margin: 10px 0 0;
    }
    .marquee-text-wrapper-custom p{
    font-size: 15px;
      margin: 0 17px;
    }
    .underline {
    position: absolute;
    left: 67.3%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 25%;
}
    .turned-arrow {
    position: absolute;
    top: 65%;
    right: 17%;
    transform: translate(-50%, -50%);
    width: 14%;
}
    .make-your {
    position: absolute;
    right: -5%;
    top: 66%;
    transform: translate(-50%, -50%);
    width: 19%;
}
    .science-circle {
    position: absolute;
    left: 51.9%;
    top: 37.4%;
    transform: translate(-50%, -50%);
    width: 22%;
}
  }
</style>

