{% if product.metafields.my_fields.product_use_tip != blank %}
<div class="custom-code-section-two">
 
  <div class="custom-code-section-two-inner">
    <p class="first-text">product use tip</p>
    <p class="second-text">{{product.metafields.my_fields.product_use_tip}}</p>
     <p class="third-text">{{section.settings.third-text}}</p>
    <a class="link-section" href="{{section.settings.linkone}}">{{section.settings.linktext}}</a>
  </div>
  <div style="max-width: 98%!important;overflow-x:hidden!important;">
  <div class="marquee-outer">
  <div class="marquee-text-wrapper">
 
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
     <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p> <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
    <p>CRUELTY-FREE</p>
    <p>EXPERTLY FORMULATED</p>
    <p>SKINCARE POWERED</p>
    <p>VEGAN</p>
  </div>
  </div>
    </div>
</div>
  {% endif %}
{% schema %}
  {
    "name": "Custom Code section",
    "class" : "future-of-beauty-main" ,
    "settings": [
      {
        "id": "first-text",
        "type": "text",
        "label": "Heading",
        "default": "The Future of Beauty Has Arrived."
      },
 {
        "id": "second-text",
        "type": "text",
        "label": "Sub Heading"
      },
{
        "id": "third-text",
        "type": "text",
        "label": "third Heading"
      },
{
        "id": "linktext",
        "type": "text",
        "label": "third Heading"
      },
      {
        "id": "custom_text_body",
        "type": "url",
        "label": "button link"
      }
    ],
    "presets": [
      {
        "name": "Custom code section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<style>
.custom-code-section-two {
	background: url("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Grid_for_background.png?v=1649693200");
	padding: 280px 0 230px;
	display: flex;
  	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
  z-index: 1;
  background-color: #fff;
}

.first-text {
	font-family: Inter;
	font-style: italic;
	font-weight: 900;
	font-size: 3.3vw;
	line-height: 127.19%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	width: 82%;
	margin: auto;
	margin-bottom: 20px;
}

.second-text,
.third-text {
	font-family: Inter;

	font-weight: 600;
	font-size: 1.33vw;
	line-height: 169.69%;
	/* or 25px */

	letter-spacing: 0.075em;

	margin: 0;
	margin-bottom: 30px;
	color: #000000;
}

.link-section {
	font-family: Inter;
transition: all 0.2s ease-out;
	font-weight: 600;
	font-size: 1.3vw;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
}
  .link-section:hover{
  color: #FF3FB5;
    border-bottom: 2px solid #FF3FB5;
  }
.custom-code-section-two-inner {
	width: 57%;
	margin: auto;
}
.right-corner-hexagons {
	position: absolute;
    right: 0;
    top: 80px;
    width: 230px;
}

.science-circle {
	position: absolute;
    left: 38.9%;
    top: 46.4%;
    transform: translate(-50%, -50%);
    width: 8%;
}

.underline {
   position: absolute;
    left: 61.3%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.turned-arrow {
   position: absolute;
    top: 54%;
    right: 17%;
    transform: translate(-50%, -50%);
    width: 9%;
}

.make-your {
   position: absolute;
    right: 3%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 12%;
}

.left-gola {
	position: absolute;
    left: 17%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 12%;
}

  
  
.marquee-text-wrapper{
	margin: 80px 0 0;	
  display : flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 3000s linear infinite;
}
  @keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
  .marquee-text-wrapper p{
  font-family: 'Inter';
    margin: 0 30px;
font-weight: 900;
font-size: 37.4345px;
line-height: 133.69%;
white-space: pre;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .marquee-outer{
   display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  }
  @media only screen and (max-width: 1100px) {
    .custom-code-section-two{
    padding: 100px 0 64px;
    }
    .custom-code-section-two-inner{
    width: 78%;
    }
    .second-text{
    font-size: 2vw;
    }
  }
  @media only screen and (max-width: 768px) {
  .custom-code-section-two{
  padding: 50px 0 50px;
    background-size: contain;
  }
    .right-corner-hexagons{
    position: absolute;
    right: 0;
    top: 1%;
    width: 16%;
    }
    .first-text{
    font-size: 5.2vw;
      width: 82%;
      margin-bottom: 28px;
    }
    .custom-code-section-two-inner{
    width: 86%;
    }
    .second-text, .third-text{
    font-size: 3.5vw;
      margin-bottom: 0;
    }
    .link-section{
     font-size:2.3vw;
    }
    .left-gola{
    position: absolute;
    left: 17%;
    top: 67%;
    transform: translate(-50%, -50%);
    width: 16%;
    }
    .marquee-text-wrapper{
    margin: 10px 0 0;
    }
    .marquee-text-wrapper p{
    font-size: 15px;
      margin: 0 17px;
    }
    .underline {
    position: absolute;
    left: 67.3%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 25%;
}
    .turned-arrow {
    position: absolute;
    top: 65%;
    right: 17%;
    transform: translate(-50%, -50%);
    width: 14%;
}
    .make-your {
    position: absolute;
    right: -5%;
    top: 66%;
    transform: translate(-50%, -50%);
    width: 19%;
}
    .science-circle {
    position: absolute;
    left: 51.9%;
    top: 37.4%;
    transform: translate(-50%, -50%);
    width: 22%;
}
  }
</style>

