<h1>Featured in :-</h1>
<div class="featured-images-part">
   <a class="vogue" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/1544px-VOGUE_LOGO_svg.png?v=1675115021">
  </a>
  <a class="elle" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/ELLE_Magazine_Logo_svg.png?v=1675028580">
  </a>
   <a class="idiva" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/35d6e191403c9d890705f1b8ee77d164.png?v=1674325410">
  </a>
   <a class="popxo" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/download.png?v=1674324980">
  </a>
  <a class="zest" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Zestlogo-website-250x100.png?v=1675062990">
  </a>
  <a class="ht" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/HT-logo-new-1.png?v=1675114879">
  </a>
  <a class="la" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Lifestyle_Asia_Logo.png?v=1675115837">
  </a>
  <a class="pm" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/download_4.png?v=1675115384">
  </a>
   <a class="bs" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/balcony_stories_logo.png?v=1675115638">
  </a>
  <a class="bzr" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Harpers-Bazaar-logo.png?v=1675028882">
  </a>
   <a class="estd" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Screenshot_2023-02-01_042503.png?v=1675205731">
  </a>
   <a class="il" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/logo.png?v=1675115743">
  </a>
  <a class="xp" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Screenshot_2023-01-31_033614.png?v=1675116400">
  </a>
  <a class="pokrela" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/logo-wide-light.png?v=1675201902">
  </a>
   <a class="tfs" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/234823696c115cdf6cc6b3fa0cc99738.png?v=1675201955">
  </a>
   <a class="daiji" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/daijiworldLogo1.jpg?v=1675202187">
  </a>
   <a class="ci" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/CILIOGOWEB424.png?v=1675202187">
  </a>

   <a class="dc" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/LOGO_1.png?v=1675202530">
  </a>
   <a class="cc" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/CLAP-CLAP-LOGO.jpg?v=1675202529">
  </a>
   <a class="carma" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/logo-web.png?v=1675202529">
  </a>
   <a class="hs" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/download_5.png?v=1675202529">
  </a>
   <a class="msn" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/download_6.png?v=1675202529">
  </a>
  <a class="femina" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Femina_01_1600_c.jpg?v=1705068602">
  </a>
  <a class="grazia" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/logo_2.png?v=1705069815">
  </a>
  <a class="forbes" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/forbes-logo.png?v=1705069998">
  </a>
  <a class="lavender" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Lavenderoom-LV-Logo-e1694377534573_1.webp?v=1705070217">
  </a>
  <a class="adgully" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/main_logo.png?v=1705070472">
  </a>
   <a class="ir" href="javascript:void(0)">
    <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/logo.svg?v=1705070666">
  </a>
</div>

<div class="articles-part">

   <div class="forbes-con">
  <h3>Forbes</h3>
    <a href="hhttps://www.forbesindia.com/article/lifes/how-genz-women-are-redefining-indian-beauty/89571/1">How Gen-Z women are redefining Indian beauty</a>
    
   </div>
    <div class="vogue-con">
  <h3>Vogue</h3>
    <a href="https://www.vogue.in/beauty/content/5-hybrid-beauty-must-haves-that-straddle-the-line-between-skincare-and-makeup">5 Hybrid Beauty must haves that straddle the line between skincare and makeup</a>
    <a href="https://www.vogue.in/beauty/content/5-new-beauty-launches-that-are-worth-the-hype-you-need-to-try-this-year">5 new beauty launches that are worth the hype, you need to try in 2023</a>
 <a href="https://www.vogue.in/beauty/content/6-skincare-trends-to-look-out-for-in-2023-according-to-experts">6 skincare trends to look out for in 2023, according to experts </a>

  </div>
  <div class="elle-con">
  <h3>ELLE</h3>
     <a href="https://elle.in/a-step-ahead-in-hybrid-beauty/">A Step ahead in hybrid beauty</a>
     <a href="ELLE Festive Gifting Guide: More Than 100 Products To Pick From - Elle India">ELLE Festive Gifting Guide: More Than 100 Products To Pick From</a>
      <a href="Here's What To Expect At The ELLE Beauty Weekender 2022">Here's What To Expect At The ELLE Beauty Weekender 2022</a>
    <a href="The Story Behind Type Beauty's 24-Shade Foundation Range (elle.in)">The Story Behind Type Beauty's 24-Shade Foundation Range</a>
    <a href="6 Makeup Products With Skincare Benefits You Need (elle.in)">6 Makeup Products With Skincare Benefits You Need</a>
    <a href="https://elle.in/lightweight-base-products/?fbclid=PAAabmMcdrK4Df012raScprMqbzvuQHGO1mvfNprMe1eY-G9z_cU8ohNb2IBc">Lightweight base products</a>
<a href="https://elle.in/elle-valentines-day-gifting-guide-2023/?fbclid=PAAabQRgy_Ml-0YcLRp1fLzV58vFytIroR7jY8LFoHr6l5njd0vJOIxKn80gQ">More Than 80 Valentine's Day Gifting Options To Have Your Loved Ones Squealing With Delight</a>
<a href="https://elle.in/12-beauty-launches-that-are-turning-up-the-heat-this-may/">12 Beauty Launches That Are Turning Up The Heat This May</a>

    
  </div>
<div class="idiva-con">
   <h3>IDIVA</h3>
   <a href="https://www.idiva.com/beauty/makeup/from-lipstick-to-eyeshadow-the-best-makeup-products-that-launched-in-india-this-year/18048303">From Lipstick to eyeshadow the best makeup products that launched in india this year</a>
   <a href="Dewy Foundations We Loved Using This Year For A Radiant Glass Like Makeup Look (idiva.com)">Dewy Foundations We Loved Using This Year For A Radiant Glass Like Makeup Look</a>
   <a href="https://www.idiva.com/beauty/makeup/foundations-with-diverse-shade-range-for-deep-and-dark-brown-indian-skin-tones/18044873">Foundations with diverse shade range for deep and dark brown indian skin tones</a>
   <a href="All The New And Exciting Beauty Launches This September (idiva.com)">All The New And Exciting Beauty Launches This September</a>
</div>
<div class="popxo-con">
   <h3>POPXO</h3>
   <a href="Recreate Khushi Kapoor's Clean-Girl Beauty Look | POPxo">Recreate Khushi Kapoor's Clean-Girl Beauty Look</a>
   <a href="Recreate Kylie Jenner's I'm Cold Makeup | POPxo">Recreate Kylie Jenner's I'm Cold Makeup</a>
   <a href="https://www.popxo.com/article/kylie-jenner-rocks-the-im-cold-makeup-trend/">Kylie Jenner rocks the im cold makeup trend</a>
   <a href="Travel-Sized Beauty Products To Take On Vacation | POPxo">Travel-Sized Beauty Products To Take On Vacation</a>
   <a href="Janhvi Kapoor's Bombshell Basics Makeup Cues | POPxo">Janhvi Kapoor's Bombshell Basics Makeup Cues</a>
   <a href="Recreate Kriti Sanon's Monochrome Pink Makeup | POPxo">Recreate Kriti Sanon's Monochrome Pink Makeup</a>
   <a href="Bridal Beauty Lessons To Learn From Shloka Ambani | POPxo">Bridal Beauty Lessons To Learn From Shloka Ambani</a>
   <a href="Selena Gomez's Beauty Look At The My Mind & Me Premiere | POPxo">Selena Gomez's Beauty Look At The My Mind & Me Premiere</a>
   <a href="The Hottest New Beauty Launches Of October 2022 | POPxo">The Hottest New Beauty Launches Of October 2022</a>
   <a href="Bella Hadid's NYC Birthday Party Beauty Decode | POPxo">Bella Hadid's NYC Birthday Party Beauty Decode</a>
   <a href="Karisma Kapoor Serves A Youthful Pink Makeup Look On The Runway | POPxo">Karisma Kapoor Serves A Youthful Pink Makeup Look On The Runway</a>
   <a href="Makeup Tips Anyone Who Wears Eyeglasses Should Follow | POPxo">Makeup Tips Anyone Who Wears Eyeglasses Should Follow</a>
  <a href="The Only Base Makeup Products For Oily Skin To Trust | POPxo">The Only Base Makeup Products For Oily Skin To Trust</a>
  <a href="Decoding Camila Cabello's Stunning Glitter Lips | POPxo">Decoding Camila Cabello's Stunning Glitter Lips</a>
  <a href="Gauri Khan's Beauty Look On Koffee With Karan Is Monochromatic Magic | POPxo">Gauri Khan's Beauty Look On Koffee With Karan Is Monochromatic Magic</a>
  <a href="Maheep Kapoor's KWK Beauty Decode | POPxo">Maheep Kapoor's KWK Beauty Decode</a>
  <a href="Bhavna Pandey KWK Beauty Decode | POPxo">Bhavna Pandey KWK Beauty Decode</a>
  <a href="Twisted Pigtails Is Vanessa Hudgens' Tribute To '90s Trends | POPxo">Twisted Pigtails Is Vanessa Hudgens' Tribute To '90s Trends</a>
  <a href="Decoding Sophie Turner's High-Glam, Smokey Eyed Look | POPxo">Decoding Sophie Turner's High-Glam, Smokey Eyed Look</a>
  <a href="Anne Hathaway's The Devil Wears Prada NYFW Beauty Look Decoded | POPxo">Anne Hathaway's The Devil Wears Prada NYFW Beauty Look Decoded</a>
  <a href="Ananya Panday Wears Glossy Makeup For Liger Promotions | POPxo">Ananya Panday Wears Glossy Makeup For Liger Promotions</a>
</div>
   <div class="grazia-con">
  <h3>Grazia</h3>
    <a href="https://www.grazia.co.in/beauty/the-latest-beauty-launches-on-our-radar-this-week-10925.html">The Latest Beauty Launches On Our Radar This Week</a>
    <a href="https://www.grazia.co.in/beauty/weekly-edit-the-latest-beauty-launches-on-our-radar-rn-11926.html">The Latest Beauty Launches On Our Radar RN</a>

   </div>
  <div class="femina-con">
  <h3>Femina</h3>
    <a href="https://www.femina.in/show_detail.php?id=253716&flag=p&v=2537161673941119">Foundations That'll Help You Ace That Glowing Skin Look</a>
</div>

  <div class="zest-con">
    <h3>ZEE ZEST</h3>
     <a href="Diwali 2022: How To Nail Quick & Easy Festive Makeup| Zee Zest">Diwali 2022: How To Nail Quick & Easy Festive Makeup</a>
     <a href="Diwali 2022: Beauty Gift Hampers Any Beauty Fan Would Love (zeezest.com)">Diwali 2022: Beauty Gift Hampers Any Beauty Fan Would Love</a>
     <a href="How To Get Korean Glass Skin Makeup Pat Down | Zee Zest">How To Get Korean Glass Skin Makeup Pat Down</a>
  </div>
   <div class="ht-con">
    <h3>Hindustan Times</h3>
      <a href="https://www.hindustantimes.com/lifestyle/fashion/hybrid-beauty-products-that-can-actually-replace-your-entire-skincare-routine-101663675391845.html">Hybrid Beauty products that can actually replace your entire skincare routine</a>
 
   </div>
    <div class="ir-con">
  <h3>Indian Retailer</h3>
    <a href="https://www.irecwire.com/article/whats-hot/the-rise-of-vegan-beauty-transforming-the-indian-market-with-nature-inspired-sustainable-products.a8049/">Transforming the Indian Market with Nature-inspired, Sustainable Products</a>
    
   </div>
  <div class="adgully-con">
  <h3>Adgully</h3>
    <a href="https://www.adgully.com/week-at-a-glance-gaming-buzz-privacy-sandbox-icc-world-cup-q-a-neville-bastawalla-136894.html">Gaming buzz; Privacy Sandbox; ICC World Cup; Q&A - Neville Bastawalla</a>
    
   </div>
  <div class="lavender-con">
  <h3>LAVENDERROOM</h3>
    <a href="https://lavenderoom.com/empowering-beauty-an-in-depth-conversation-with-ananya-kapur-the-founder-of-type-beauty/">An In-Depth Conversation with Ananya Kapur, the Founder of Type Beauty</a>
    
   </div>
   <div class="la-con">
    <h3>LIFESTYLE ASIA</h3>
     <a href="Catch these hybrid beauty products taking over the domain of beauty (lifestyleasia.com)">Catch these hybrid beauty products taking over the domain of beauty</a>
   </div>
     <div class="pm-con">
    <h3>PASSIONATE IN MARKETING</h3>
     <a href="This Diwali switch to homegrown brands for gifting – The Festive Edit | Passionate In Marketing">This Diwali switch to homegrown brands for gifting – The Festive Edit</a>
   </div>
   <div class="bs-con">
    <h3>THE BALCONY STORIES</h3>
     <a href="Last Minute Diwali Gifts For Your Loved Ones | The Balcony Stories">Last Minute Diwali Gifts For Your Loved Ones</a>
   </div>
   <div class="il-con">
    <h3>IANS</h3>
     <a href="Your beauty & fashion Diwali gifting guide | IANS Life">Your beauty & fashion Diwali gifting guide</a>
   </div>
   <div class="xp-con">
    <h3>TIMES XP</h3>
     <a href="(923) Type Beauty Inc Concealers Quick Review | Zit Quit, Get Even & Eye Light Concealer | TimesXP Beauty - YouTube">(923) Type Beauty Inc Concealers Quick Review | Zit Quit, Get Even & Eye Light Concealer</a>
   </div>
   <div class="pokrela-con">
    <h3>PROKELA</h3>
     <a href="Your beauty & fashion Diwali gifting guide (prokerala.com)">Your beauty & fashion Diwali gifting guide</a>
   </div>
   
  <div class="daiji-con">
    <h3>DAIJI WORLD</h3>
     <a href="Your beauty & fashion Diwali gifting guide - Daijiworld.com">Your beauty & fashion Diwali gifting guide</a>
   </div>
  <div class="ci-con">
    <h3>CAN INDIA</h3>
     <a href="Your beauty & fashion Diwali gifting guide | CanIndia News">Your beauty & fashion Diwali gifting guide</a>
   </div>
   <div class="dc-con">
    <h3>DECCAN CHRONICLE</h3>
     <a href="http://epaper.deccanchronicle.com/articledetailpage.aspx?id=16766532">Deccan Chronicle ePaper</a>
   </div>
  
   <div class="cc-con">
    <h3>CLAP CLAP</h3>
     <a href="https://clapclap.media/christmas-beauty-gift-guide-2022/">Christmas Beauty Gift Guide 2022</a>
   </div>
   <div class="carma-con">
    <h3>CONSICOUS CARMA</h3>
     <a href="https://consciouscarma.com/products/gifting/christmas-gifting-ideas-that-are-all-natural-organic-and-sustainable/">Christmas Gifting ideas that are all natural organic and sustainable</a>
   </div>
   <div class="hs-con">
    <h3>HEALTH SITE</h3>
     <a href="https://www.thehealthsite.com/beauty/hybrid-beauty-how-is-it-different-from-regular-makeup-and-skincare-921864/">Hybrid beauty how is it different from regular makeup and skincare</a>
   </div>
   <div class="msn-con">
    <h3>MSN</h3>
     <a href="5 Most Suitable Foundations For Deep & Dark Brown Indian Skin Tones Available In The Country (msn.com)">5 Most Suitable Foundations For Deep & Dark Brown Indian Skin Tones Available In The Country</a>
   </div>
    <div class="estd-con">
    <h3>THE ESTABLISHED</h3>
     <a href="https://www.theestablished.com/self/beauty/ananya-kapur-founder-of-hybrid-beauty-brand-type-beauty-lets-us-in-on-the-journey-of-its-inception">Ananya Kapur founder of hybrid beauty brand type beauty lets us in on the journey of its inception</a>
   </div>
    <div class="bzr-con">
    <h3>HARPER'S BAZAAR</h3>
     <a href="https://www.harpersbazaar.in/beauty/story/10-double-duty-base-makeup-products-that-offer-skincare-benefits-too-2722">10 Double Duty base makeup products that offer skincare benefits too</a>
    <a href="https://www.harpersbazaar.in/beauty/story/what-made-it-to-our-favourite-latest-beauty-launches-696686-2023-10-19">What made it to our favourite latest beauty launches</a>
   
    </div>
</div>



<style>
  .featured-images-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .featured-images-part a{
    margin: 29px 92px;
  }
  .featured-images-part a img{
    max-width: 200px;
  }
  .articles-part div{
    margin-bottom: 10px;
    padding: 30px;
  }
  .articles-part div h3{
    font-family: Inter;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.4em;
    font-style: italic;
    color: #ff3fb5;
    text-transform: uppercase;
  }
  .articles-part div a{
    color: black;
    font-size: 0.8em;
    display: block;
    
    width: max-content;
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 600px) {
  .conti h1{
    font-size: 2em;
  }
    .featured-images-part a img {
    max-width: 86px;
}
    .featured-images-part a {
    margin: 29px 19px;
}
    .articles-part div a {
    color: black;
    font-size: 0.8em;
    display: block;
    border-bottom: none;
    width: auto;
    margin-bottom: 15px;
}
}
  .articles-part a:hover{
    text-decoration: underline;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
  $(".vogue").click(function() {
    $('html, body').animate({
        scrollTop: $(".vogue-con").offset().top
    }, 2000);
});
    $(".elle").click(function() {
    $('html, body').animate({
        scrollTop: $(".elle-con").offset().top
    }, 2000);
});
    $(".idiva").click(function() {
    $('html, body').animate({
        scrollTop: $(".idiva-con").offset().top
    }, 2000);
});
    $(".popxo").click(function() {
    $('html, body').animate({
        scrollTop: $(".popxo-con").offset().top
    }, 2000);
});
    $(".zest").click(function() {
    $('html, body').animate({
        scrollTop: $(".zest-con").offset().top
    }, 2000);
});
    $(".ht").click(function() {
    $('html, body').animate({
        scrollTop: $(".ht-con").offset().top
    }, 2000);
});
    $(".la").click(function() {
    $('html, body').animate({
        scrollTop: $(".la-con").offset().top
    }, 2000);
});
    $(".pm").click(function() {
    $('html, body').animate({
        scrollTop: $(".pm-con").offset().top
    }, 2000);
});
    $(".bs").click(function() {
    $('html, body').animate({
        scrollTop: $(".bs-con").offset().top
    }, 2000);
});
    $(".bzr").click(function() {
    $('html, body').animate({
        scrollTop: $(".bzr-con").offset().top
    }, 2000);
});
    $(".estd").click(function() {
    $('html, body').animate({
        scrollTop: $(".estd-con").offset().top
    }, 2000);
});
    $(".il").click(function() {
    $('html, body').animate({
        scrollTop: $(".il-con").offset().top
    }, 2000);
});
    $(".xp").click(function() {
    $('html, body').animate({
        scrollTop: $(".xp-con").offset().top
    }, 2000);
});
    $(".pokrela").click(function() {
    $('html, body').animate({
        scrollTop: $(".pokrela-con").offset().top
    }, 2000);
});
    $(".tfs").click(function() {
    $('html, body').animate({
        scrollTop: $(".tfs-con").offset().top
    }, 2000);
});
    $(".daiji").click(function() {
    $('html, body').animate({
        scrollTop: $(".daiji-con").offset().top
    }, 2000);
});
    $(".ci").click(function() {
    $('html, body').animate({
        scrollTop: $(".ci-con").offset().top
    }, 2000);
});
    $(".dc").click(function() {
    $('html, body').animate({
        scrollTop: $(".dc-con").offset().top
    }, 2000);
});
    $(".cc").click(function() {
    $('html, body').animate({
        scrollTop: $(".cc-con").offset().top
    }, 2000);
});
    $(".carma").click(function() {
    $('html, body').animate({
        scrollTop: $(".carma-con").offset().top
    }, 2000);
});
    $(".hs").click(function() {
    $('html, body').animate({
        scrollTop: $(".hs-con").offset().top
    }, 2000);
});
    $(".msn").click(function() {
    $('html, body').animate({
        scrollTop: $(".msn-con").offset().top
    }, 2000);
});
      $(".femina").click(function() {
    $('html, body').animate({
        scrollTop: $(".femina-con").offset().top
    }, 2000);
});
  $(".grazia").click(function() {
    $('html, body').animate({
        scrollTop: $(".grazia-con").offset().top
    }, 2000);
});
   $(".forbes").click(function() {
    $('html, body').animate({
        scrollTop: $(".forbes-con").offset().top
    }, 2000);
});
    $(".lavender").click(function() {
    $('html, body').animate({
        scrollTop: $(".lavender-con").offset().top
    }, 2000);
});
    $(".adgully").click(function() {
    $('html, body').animate({
        scrollTop: $(".adgully-con").offset().top
    }, 2000);
});
      $(".ir").click(function() {
    $('html, body').animate({
        scrollTop: $(".ir-con").offset().top
    }, 2000);
});
   
</script>