<div class="give-world-con">
    <img class="jali-right-side" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Small_grid_on_the_side-_about_us.svg?v=1650397563">
 
  <div class="give-world-con-inner">
    <div class="position: relative;">
  <p class="inner-texti-one">We want to give you a world</p>
      <img class="line"  src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Vector_12_1.svg?v=1650398371">
      <img class="chota-gola"  src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_329.svg?v=1650398371">
       <img class="powered"  src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/SKINCARE_POWERED_1.svg?v=1650398817">
      </div>
  <p class="inner-texti-two">WE TAKE YOU A STEP AHEAD </p>
  <p class="inner-texti-three">IN YOUR BEAUTY GAME.</p>
    <div style="position: relative;"> 
      <img class="hai-ek-gol" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Circle_outline-_about_us.svg?v=1653080433">
       <img class="hai-ek-line" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Science_underline-_about_us_1.svg?v=1653080453">
      <p class="diff-text">Where skin health & decking up aren't at loggerheads with each other. 
Where inclusive doesn't just mean skin tone, but also skin type.
Where makeup is stress-free.
</p></div>
   
    <img class="gol-gol" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Circle_group-_about_us.svg?v=1650397021">
  <img class="nichla-arrow" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Arrow_4-_about_us_1.svg?v=1653080747">
  <img class="clean-beauty-dabba" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Clean_beauty_outline-_about_us.svg?v=1650399244">
  <img class="clean-beauty-arrow" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Clean_Beauty_1.svg?v=1650399268">
 
  </div>
</div>
<style>
  .hai-ek-gol,.hai-ek-line{
  position: absolute;
  }
  .hai-ek-gol{
  width: 11%;
    left: 16%;
    top: 52%;
    transform: translate(-50%, -50%);
  }
  .hai-ek-line{
   width: 11%;
   right: 38%;
    bottom: -79%;
    transform: translate(-50%, -50%);
  }
  .diff-text{
  margin: 0;
    margin: auto;
    margin-top: 40px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 163.69%;
width: 80%;

text-align: center;
letter-spacing: 0.05em;

color: #000000;
  }
  .clean-beauty-arrow{
  right: 13%;
    top: 106%;
    transform: translate(-50%, -50%);
    width: 7%;
  }
  
  
  .clean-beauty-dabba{
 right: 10%;
    top: 106%;
    transform: translate(-50%, -50%);
    width: 10%;
  }
  .clean-beauty-dabba ,.clean-beauty-arrow{
  position:absolute;
  }
  .nichla-arrow{
  position: absolute;
    right: 23%;
    top: 102%;
    transform: translate(-50%, -50%);
    width: 7%;
  }
  .powered{
  position: absolute;
    left: -3%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 7%;
  }
  .chota-gola{
  position: absolute;
    left: -3.3%;
    top: 23%;
    transform: translate(-50%, -50%);
    width: 1%;
  }
  .give-world-con-inner .line{
  position: absolute;
    left: 4%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  .jali-right-side{
  position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    width: 13%;
  }
  .gol-gol{
 position: absolute;
    left: 6%;
    /* bottom: -94%; */
    top: 113%;
    transform: translate(-50%, -50%);
    width: 9%;
  }
  .inner-texti-two ,.inner-texti-three{
  font-family: Inter;
font-weight: 700;
font-size: 2.5vw;
line-height: 134.69%;
    width: max-content;
    margin: auto;
margin-bottom: 5px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
    background: linear-gradient( to bottom, #fff 0%, #fff 40%, #ff8c1c 40%, #ff8c1c 100% );
color: #000000;
  }
  .inner-texti-one{
  font-family: Inter;
font-weight: 900;
font-size: 2.8vw;
line-height: 122.19%;
/* or 61px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
margin-bottom: 10px;
color: #FF3FB5;

  }
  .give-world-con{
  padding: 50px 0;
    position: relative;
    margin-bottom: 80px;
  }
  .give-world-con-inner{
  max-width: 1100px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    text-align: center;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
