<div class="bottom-list-section">
  <div class="alphabetical-list-con">
    <a class="aa alphabetical-list pink-border" href="javascript:void(0)">A</a>
    <a class="bb alphabetical-list" href="javascript:void(0)">B</a>
    <a class="cc alphabetical-list" href="javascript:void(0)">C</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">D</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">E</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">F</a>
    <a class="gg alphabetical-list" href="javascript:void(0)">G</a>
    <a class="hh alphabetical-list" href="javascript:void(0)">H</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">I</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">J</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">K</a>
    <a class="ll alphabetical-list" href="javascript:void(0)">L</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">M</a>
    <a class="nn alphabetical-list" href="javascript:void(0)">N</a>
    <a class="oo alphabetical-list" href="javascript:void(0)">O</a>
    <a class="pp alphabetical-list" href="javascript:void(0)">P</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">Q</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">R</a>
    <a class="ss alphabetical-list" href="javascript:void(0)">S</a>
    <a class="tt alphabetical-list" href="javascript:void(0)">T</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">U</a>
    <a class="vv alphabetical-list" href="javascript:void(0)">V</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">W</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">X</a>
    <a class="grayed alphabetical-list" href="javascript:void(0)">Y</a>
    <a class="zz alphabetical-list" href="javascript:void(0)">Z</a>
  </div>
  <div class="outerouter">
  <div class="alphabet-container a-con">
    <div class="flexed-con-alpha">
      <p class="alpha">a</p>
      <div style="width: 100%"><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_91.svg?v=1653047377"></div>
      </div>
    <p style="margin-top: 0;" class="name-of-ing">Algae</p>
    <p class="where-source">Source: <span>A type of micro-algae that’s known for being adaptable and able to survive even in harsh natural conditions.
</span></p>
    <p class="why-use">why we use it: <span>It’s a rich source of beta-carotene, and conveys potent antioxidant benefits that can benefit skin. Dunaliella salina extract is also a natural source of vitamin B12. It is also resembles Vit A with the exception that it can be used in the day this provides great anti ageing properties.
</span></p>
    <p class="found-in">What to look for: <span>Dunaliella Salina extract </span></p>


<p style="margin-top: 0;" class="name-of-ing">Agave</p>
    <p class="where-source">Source: <span>Agave syrup comes from the agave plant, a succulent that is native to dry regions.
</span></p>
    <p class="why-use">why we use it: <span>It moisturizes while combating inflammation, resulting in calm, hydrated skin with reduced redness and irritation.
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/primers/products/calm-on-hydrating-gel-primer">Calm on Hydrating Gel Primer</a></p>
  


    <p style="margin-top: 0;" class="name-of-ing">Amino Acid</p>
    <p class="where-source">Source: <span>Amino acids, sourced from proteins in foods like meat, fish, legumes, nuts, and grains, are vital for the body's functions. They're either obtained from diet or produced endogenously</span></p>
    <p class="why-use">why we use it: <span>It helps in strengthening the skin's barrier, enhancing resilience against external factors for better protection and overall skin health</span></p>
    <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/foundations/products/calm-on-foundation">Calm on serum foundation</a></p>
  

    
       <p class="name-of-ing" style="margin-top: 0;">Apple Extract</p>
    <p class="where-source">Source: <span>An apple a day certainly does keep the dermatologist at bay.
</span></p>
    <p class="why-use">why we use it: <span> This extract is anti aging and skin smoothing. 
</span></p>
    <p class="found-in">What to look for: <span>Apple extract </span></p>



<p  class="name-of-ing">Azaleic Acid</p>
    <p class="where-source">Source: <span>It naturally occurs in wheat, rye, barley</span></p>
    <p class="why-use">why we use it: <span>It exfoliates while preventing inflammation and acne spots, promoting clearer, smoother skin with a balanced tone and texture.</span></p>
    <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/smudge-sticks/products/zit-quit-smudge-stick">Zit Quit Smudge Stick</a></p>
  

    
  </div>
   <div class="alphabet-container b-con">
    <div class="flexed-con-alpha">
      <p class="alpha">b</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">BAKUCHIOL</p>
    <p class="where-source">Source: <span>a plant-based ingredient, derived from the leaves and seeds of the babchi or bakuchi plant found in China and India. </span></p>
     <p class="why-use">why we use it: <span>It improves skin tone and texture by stimulating skin cell turnover, smoothing fine lines and wrinkles and eliminates skin dryness.</span></p>
      <p class="why-use">What to look for: <span>Bakuchiol</span></p>
     <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/get-even-serum-foundation?variant=39801882050638"> Get even Concealer</a></p>
  </div>
   <div class="alphabet-container c-con">
    <div class="flexed-con-alpha">
      <p class="alpha">c</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Caffeine</p>
    <p class="where-source">Source: <span>It is naturally present in coffee, cocoa, and guarana plants' fruit, leaves, and beans.</span></p>
     <p class="why-use">why we use it: <span>It protects the skin from free radical damage, brightens it, de-puffs under-eye bags, and calms inflammation.</span></p>
     
     <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/eye-light-concealer?variant=39801874415694">Eye Light Concealer</a></p>
     
        <p class="name-of-ing" style="margin-top: 0;">Centella Asiatica</p>
    <p class="where-source">Source: <span>It is a tropical, medicinal plant native to Southeast Asian countries such as India, Sri Lanka, China, Indonesia, and Malaysia, South Africa, and Madagascar.
</span></p>
    <p class="why-use">why we use it: <span> It delivers soothing relief and brightening effects, offering a calming sensation and enhanced radiance. 
</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/primers/products/get-even-primer">Get even moisturing primer</a></p>
  





        <p class="name-of-ing" style="margin-top: 0;">Collagen</p>
    <p class="where-source">Source: <span>Collagen naturally exists in animal flesh like meat and fish due to their connective tissues. Yet, various animal and plant foods provide essential building blocks for our body's collagen production.</span></p>
    <p class="why-use">why we use it: <span>It helps in regeneration of skin collagen, enhancing elasticity and firmness for a more youthful and resilient appearance, promoting a revitalized skin structure.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/foundations/products/decrease-foundation">Decrease Serum Foundation</a></p>




        <p class="name-of-ing" style="margin-top: 0;">Colloidal Oatmeal</p>
    <p class="where-source">Source: <span>Colloidal oatmeal is the powder obtained from the grinding and processing of whole oat grain.</span></p>
    <p class="why-use">why we use it: <span>It helps in soothing the skin, diminishing redness, and providing a calming effect, resulting in a more even-toned and tranquil complexion.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/foundations/products/calm-on-foundation">Calm of Serum Foundation</a></p>
  
     
     
     
     
     <p class="name-of-ing" style="margin-top: 0;">Colloidal Silver</p>
    <p class="where-source">Source: <span>Uses the sparkly yet effective element silver </span></p>
     <p class="why-use">why we use it: <span>Colloidal silver has antiseptic and anti-inflammatory properties that means it helps to kill microbes and bacteria as well as reduce puffiness or swelling. This is especially helpful when treating acne.</span></p>
     <p class="found-in">What to look for: <span>Colloidal Silver</span></p>


     
    <p class="name-of-ing" >Copper Peptides</p>
    <p class="where-source">Source: <span>In human body, copper peptides are found in trace amounts in blood plasma, saliva and urine.</span></p>
    <p class="why-use">why we use it: <span>It boosts collagen and elastin production in the skin, promoting improved elasticity and firmness for a more youthful and resilient complexion.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/smudge-sticks/products/soak-it-smudge-stick">Soak it Smudge Stick</a></p>
  



     
  </div>
     <div class="alphabet-container g-con">
    <div class="flexed-con-alpha">
      <p class="alpha">g</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Green Tea Extract</p>
    <p class="where-source">source: <span>Made from the antioxidant superfood green tea</span></p>
     <p class="why-use">why we use it: <span>Green tea extract uses its antioxidant properties to prevent sun damage and its caffeine content to energize the skin. It is also extremely soothing and can calm any inflammation that is seen in acne.</span></p>
    <p class="why-use">What to look for: <span>Camellia Sinesis Leaf Extract
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/zit-quit-concealer?variant=39799267557454">Zit Quit Concealer</a></p>
      
  </div>
       <div class="alphabet-container h-con">
    <div class="flexed-con-alpha">
      <p class="alpha">h</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Hyaluronic acid</p>
    <p class="where-source">source: <span>a naturally occurring glycosaminoglycan present in connective tissue throughout the body. Glycosaminoglycans are simply polysaccharides, which are lengthy unbranched carbohydrates or sugars. </span></p>
     <p class="why-use">why we use it: <span> It promotes soft tissue growth, stimulates the production of collagen and elastin, keeps your skin moisturized, prevents tightness, improves elasticity, and reduces scarring.
</span></p>
    <p class="why-use">What to look for: <span>Sodium Hyaluronate
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/eye-light-concealer?variant=39801874415694">Eye Light Concealer
</a></p>
      
  </div>


  <div class="alphabet-container l-con">
    <div class="flexed-con-alpha">
      <p class="alpha">l</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Licorice Extract</p>
    <p class="where-source">Source: <span>It is a flowering plant of the bean family Fabaceae, from the root of which a sweet, aromatic flavouring is extracted.</span></p>
     <p class="why-use">why we use it: <span>It helps in reversing hyperpigmentation, restoring a more balanced and even skin tone, resulting in a brighter, more uniform complexion.</span></p>
     
     <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/eyeshadows/products/eyelight-eyeshadow-sticks">Eye Light Eyeshadow Stick</a></p>
     
      
  </div>


    
       <div class="alphabet-container n-con">
    <div class="flexed-con-alpha">
      <p class="alpha">n</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Niacinamide</p>
    <p class="where-source">source: <span>a form of vitamin B-3, an essential nutrient, it's found in many foods including meat, fish, milk, eggs, green vegetables, and cereals.</span></p>
     <p class="why-use">why we use it: <span> Minimizes redness and blotchiness and acts as a natural reduction in pore size over time. It Regulates oil and protects against sun damage. It treats hyperpigmentation, minimizes fine lines and wrinkles, and treats acne.
</span></p>
    <p class="why-use">What to look for: <span>Niacinamide
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/concealers/products/get-even-concealer">Get even Concealer
</a></p>
      
  </div>
     <div class="alphabet-container o-con">
    <div class="flexed-con-alpha">
      <p class="alpha">o</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Olivine Extract</p>
    <p class="where-source">source: <span>Olivine is a mineral gemstone found in nature that surely can add that sparkle to your skin.
</span></p>
     <p class="why-use">why we use it: <span> Helps increase cellular energy levels and reduce skin stress. 

</span></p>
    <p class="found-in">What to look for: <span>Olivine Extract
</span></p>
       
      
  </div>
   <div class="alphabet-container p-con">
    <div class="flexed-con-alpha">
      <p class="alpha">p</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
   </div>
    <p class="name-of-ing">Peptides
</p>
    <p class="where-source">Source: <span>Peptides are short sequences of amino acids derived from plant protein sources such as beans and lentils, soy, oats, flaxseed, hemp seeds, and wheat.
</span></p>
    <p class="why-use">why we use it: <span>It enhances the skin's barrier, reduces wrinkles, makes skin more elastic, and can help with outbreak recovery.
</span></p>
    <p class="why-use">What to look for: <span>Palmitoyl Tripeptide-5
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/eye-light-concealer?variant=39801874415694">Eye Light Concealer
</a></p>
       <p class="name-of-ing">Polyglutamic acid
</p>
    <p class="where-source">Source: <span>Polyglutamic acid is made up of strands of glutamic acid, an amino acid. It is also present in "natto," a traditional Japanese delicacy produced from fermented soybeans.

</span></p>
    <p class="why-use">why we use it: <span>It hydrates your skin, minimizes wrinkles, slows the aging process, and has the ability to accelerate wound healing.

</span></p>
    <p class="why-use">What to look for: <span>Polyglumatic Acid

</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/concealers/products/get-even-concealer">Get Even Concealer
</a></p>
  </div>
    
     <div class="alphabet-container s-con">
    <div class="flexed-con-alpha">
      <p class="alpha">s</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
    <p class="name-of-ing">Salicylic Acid </p>
    <p class="where-source">source: <span>Versions of salicylic acid are found in nature.
</span></p>
     <p class="why-use">why we use it: <span>It is best known for its ability to deeply clean excess oil out of pores and reduce oil production moving forward, making it a great option for oily skin.

</span></p>
    <p class="why-use">What to look for: <span>Salicylic Acid
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/products/zit-quit-concealer?variant=39799267557454">Zit Quit Concealer</a></p>


 <p class="name-of-ing" style="margin-top: 0;">Sodium DNA</p>
    <p class="where-source">Source: <span>Sodium, a mineral abundant in many plant-based foods, lacks a direct "sodium DNA" source as DNA is a complex molecule present in all living organisms. However, numerous vegan options are rich in sodium.</span></p>
     <p class="why-use">why we use it: <span>It hydrates, fostering skin plumpness and a revitalized, radiant appearance for a more youthful complexion.</span></p>
     <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/primers/products/over-dew-primer">Over Dew Plumping Primer</a></p>
  

     
    <p class="name-of-ing" >Squalane</p>
    <p class="where-source">Source: <span>Olives</span></p>
    <p class="why-use">why we use it: <span>Squalane deeply moisturizes the skin, enhancing hydration levels and restoring suppleness for a soft and smooth complexion.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/primers/products/over-dew-primer">Over Dew Plumping Primer</a></p>
  





       
      
  </div>




   <div class="alphabet-container t-con">
    <div class="flexed-con-alpha">
      <p class="alpha">t</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
    </div>
        <p class="name-of-ing">Tumeric Oil</p>
    <p class="where-source">Source: <span>Turmeric leaves from Curcuma longa and C. aromatica were hydro-distilled to extract volatile oils for studying their chemical compositions.</span></p>
    <p class="why-use">why we use it: <span>It helps to prevent free radical damage while effectively cleansing the pores, promoting healthier skin by minimizing impurities and environmental stressors.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/smudge-sticks/products/get-even-smudge-stick">Get Even Smudge Stick</a></p>
  





        <p class="name-of-ing" style="margin-top: 0;">Tripeptides</p>
    <p class="where-source">Source: <span>This tripeptide sequence, Arginine-Glycine-Aspartic acid (RGD), is derived from the fibronectin extracellular matrix protein.</span></p>
    <p class="why-use">why we use it: <span>It helps in diminishing aging signs while providing deep hydration, resulting in revitalized and youthful-looking skin.</span></p>
  <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/foundations/products/decrease-foundation">Decrease Serum Foundation</a></p>





     
  </div>




    
      <div class="alphabet-container v-con">
    <div class="flexed-con-alpha">
      <p class="alpha">v</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
   </div>
    <p class="name-of-ing">Vitamin C 

</p>
    <p class="where-source">Source: <span>a water-soluble vitamin found naturally in fruits and vegetables
</span></p>
    <p class="why-use">why we use it: <span>It is responsible for the production of collagen, which is required to keep skin young and plump, heal wounds, and maintain and repair damaged skin and cartilage.
It also reduces the appearance of fine lines and wrinkles while also evening out skin tone. It also helps to decrease the appearance of dark spots and slows the aging process.

</span></p>
    <p class="why-use">What to look for: <span>3-O-Ethyl Ascorbic acid, Ascorbyl palmitate

</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/concealers/products/get-even-concealer">Get Even Concealer
</a></p>
       <p class="name-of-ing">Vitamin E
</p>
    <p class="where-source">Source: <span>It is a naturally occurring anti oxidant often found in plant based oils, nuts, seeds, fruits and vegetables.

</span></p>
    <p class="why-use">why we use it: <span>It Helps soften skin and protect your skin's moisture barrier. It's a powerful antioxidant, and also helps protect your skin from the sun when combined with vitamin C and sunscreen.


</span></p>
    <p class="found-in">What to look for: <span> Tocopheryl Acetate

</span></p>
      
  </div>




  <div class="alphabet-container z-con">
    <div class="flexed-con-alpha">
      <p class="alpha">z</p>
      <div style="width: 100%"><hr class="alpha-line"></div>
   </div>
    <p class="name-of-ing">Zinc

</p>
    <p class="where-source">Source: <span>Nuts, whole grains, breakfast cereals, and dairy products are sources rich in zinc.
</span></p>
    <p class="why-use">why we use it: <span>It serves as a preventive measure against acne, dullness, and skin dryness, ensuring a clear, radiant complexion and optimal hydration levels for lasting skin health.
</span></p>
       <p class="found-in">found in: <a href="https://www.typebeautyinc.com/collections/foundations/products/matte-up-foundation">Matte Up Seum Foundation
</a></p>
        <hr class="alpha-line">
  </div>







    
  </div>
</div>
<style>
  .found-in a{
  font-weight: 400;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    margin-right: 4px;
  }
  .found-in{
  font-family: Inter;
font-weight: 700;
font-size: 15px;
line-height: 133.69%;
margin-bottom: 70px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

  }
  .where-source, .why-use{
  font-family: Inter;
font-weight: 700;
font-size: 15px;
line-height: 133.69%;
margin-bottom: 20px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

  }
  .found-in span{
  font-weight: 400;
    text-transform: capitalize;
  }
  .why-use span{
   font-weight: 400;
    text-transform: capitalize;
  }
  .where-source span{
  font-weight: 400;
    text-transform: capitalize;
  }
  .name-of-ing{
  font-family: Inter;
font-style: italic;
font-weight: 900;
font-size: 30px;
line-height: 133.69%;
margin-top: 50px;
    margin-bottom: 32px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .left-custom{
  position: absolute;
  right: -2%;
    transform: translateX(-50%);
    width: 8%;
  }
  .extreme-custom{
   position: absolute;
    right: -2%;
    transform: translateX(-50%);
    width: 7%;
  }
  .outerouter{
  position: relative;
  }
  .alpha-line{
   border-top: 3px dashed #FF8F1A;
  }
  .alpha{
 font-family: Inter;
font-weight: 700;
font-size: 50px;
line-height: 133.69%;
margin: 0;
letter-spacing: 0.4em;
text-transform: uppercase;
color: #FF8F1A;
  }
  .flexed-con-alpha{
  display: flex;
    align-items: center;
    
  }
  .alphabet-container{
max-width: 1400px;
      margin-left: auto;
    padding: 0 20px;
  
  
  }
  .alphabetical-list{
  font-family: Inter;
    font-weight: 600;
    padding: 2px 5px;
    border: 1px solid #fff;
  }
   .pink-border{
  border: 1px solid #FF3FB5!important;
    
  }
  .bottom-list-section{
  margin-top: 100px;
  }
  .alphabetical-list-con{
  max-width: 1259px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 112px;
  }
  .grayed{
  color: #ababab!important;
  }
  @media only screen and (max-width: 768px) {
 .name-of-ing {
   font-size: 25px;
  }
}
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
  $( ".alphabetical-list" ).mouseover(function() {
     $( ".alphabetical-list" ).removeClass("pink-border");
  $(this).addClass("pink-border");
});
  $( ".alphabetical-list" ).mouseout(function() {
    $( ".alphabetical-list" ).removeClass("pink-border");
     $(".aa").addClass("pink-border");
   
});
   $(".aa").click(function() {
    $('html,body').animate({
        scrollTop: $(".a-con").offset().top},
        'slow');
});
     $(".bb").click(function() {
    $('html,body').animate({
        scrollTop: $(".b-con").offset().top},
        'slow');
});
   $(".cc").click(function() {
    $('html,body').animate({
        scrollTop: $(".c-con").offset().top},
        'slow');
});
    $(".nn").click(function() {
    $('html,body').animate({
        scrollTop: $(".n-con").offset().top},
        'slow');
});
   $(".pp").click(function() {
    $('html,body').animate({
        scrollTop: $(".p-con").offset().top},
        'slow');
});
  $(".ss").click(function() {
    $('html,body').animate({
        scrollTop: $(".s-con").offset().top},
        'slow');
});
  $(".vv").click(function() {
    $('html,body').animate({
        scrollTop: $(".v-con").offset().top},
        'slow');
});
  $(".zz").click(function() {
    $('html,body').animate({
        scrollTop: $(".z-con").offset().top},
        'slow');
});
    $(".gg").click(function() {
    $('html,body').animate({
        scrollTop: $(".g-con").offset().top},
        'slow');
});
    $(".oo").click(function() {
    $('html,body').animate({
        scrollTop: $(".o-con").offset().top},
        'slow');
});
      $(".hh").click(function() {
    $('html,body').animate({
        scrollTop: $(".h-con").offset().top},
        'slow');
});
       $(".ll").click(function() {
    $('html,body').animate({
        scrollTop: $(".l-con").offset().top},
        'slow');
});
         $(".tt").click(function() {
    $('html,body').animate({
        scrollTop: $(".t-con").offset().top},
        'slow');
});
           $(".zz").click(function() {
    $('html,body').animate({
        scrollTop: $(".z-con").offset().top},
        'slow');
});
</script>
