<div class="keep-simple-outer-con">
  <div class="keep-simple-inner-con">
  <img style="display: block;width: 100%;position: relative;z-index: 1;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Final_Image_Crops_for_Website-14.jpg?v=1653078509">
  <img class="right-small-one" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Final_Image_Crops_for_Website-24.jpg?v=1653078568">
  <img class="jali-vertical" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Long_grid-_about_us.svg?v=1650434578">
  <img class="wavy-circle" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Wavy_circle_2-_about_us.svg?v=1650436100">
 <img class="orange-one-arrow" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Orange_arrow-_about_us_1.svg?v=1653078616">
 <img class="orange-one-arrow-text" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Clean_Makeup_Effective_Skincare_1.svg?v=1650436274">
  </div>
  <p class="we-keep-it">We keep it simple. </p>
  <p class="our-intent">Our intention is for you to avoid complicated skincare routines that need multiple steps. And uncomplicating routines for us means infusing makeup with the goodness of skincare. It’s all about beauty from the outside in. </p>

</div>


<style>
  .our-intent{
  font-family: Inter;
font-weight: 400;
font-size: 20px;
line-height: 144.02%;
max-width: 1067px;
    padding: 0 20px;
    margin: auto;
text-align: center;
letter-spacing: 0.05em;

color: #000000;

  }
  .we-keep-it{
  font-family: Inter;
font-style: italic;
font-weight: 900;
font-size: 45px;
line-height: 117.19%;
margin-bottom: 11px;
    margin-top: 43px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .orange-one-arrow-text{
  position: absolute;
    top: 82%;
    left: 1%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 18%;
  }
  .orange-one-arrow{
  position: absolute;
    top: 69%;
    left: 4%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 10%;
  }
  .wavy-circle{
  position: absolute;
    right: -15%;
    bottom: -29%;
    width: 18%;
    transform: translate(-50%, -50%);
  }
  .jali-vertical{
  position: absolute;
   left: 2%;
    top: 8%;
    width: 18%;
    transform: translate(-50%, -50%);
  }
  .right-small-one{
  position: absolute;
    right: -11%;
    top: 8%;
    width: 18%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .keep-simple-outer-con{
  padding: 100px 0;
  }
  .keep-simple-inner-con{
  max-width: 1127px;
    margin: auto;
    padding: 0 20px;
    position: relative;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
