<div class="vids-section">
  {% if product.handle contains 'concealer' %}
  <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/45e9812cf01f4cbc9f4c79de6b99cb2d.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/b4cfd89021064f189f0b5db584444dab.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/dc3f6d531dea407c99306bdf5991d0bf.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/dc3f6d531dea407c99306bdf5991d0bf.mp4" type="video/mp4">
</video>
    {% elsif product.handle contains 'foundation' %}
     <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/4ddff69b155c41daa9927db8bf5a07e9.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/43d8ef246f694d07ab44f999fd503e99.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/9ad1285022ee4551971d08efc253da82.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/a563b40f9bc146a796d54474c2d44099.mp4" type="video/mp4">
</video>
     {% elsif product.handle contains 'smudge-stick' %}
      <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/b2fcae5758154f3ba8fbc7a4ee17f256.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/637d294938a7467d983133098443e3a4.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/50ca865ce5de43c4aa01fc08014ca976.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/f18b692ebee547368c25cd4e82b20e88.mp4" type="video/mp4">
</video>
     {% elsif product.handle contains 'eyelight-eyeshadow-sticks' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/1848ecf632e145089042d500f2bd4a25.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/3e2c381a4119407b83e98d096c2b5173.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/f6860db20cad438983be059b7ba6e04b.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/83b0d25c8e1842b7a9dc9c1df40c03cc.mp4" type="video/mp4">
</video>
      {% elsif product.handle contains 'lip-shimmer' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/552cf5f9423a43b9b8e34794039d6469.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/4f8871521c604b098ddc9426946cef9e.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/e093d054810445858c1a1b9476290882.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/c43f999882e54336b4a952082691d84e.mp4" type="video/mp4">
</video>
     {% elsif product.handle contains 'lipsticks' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/04c95c2fab3b400291ef8a7ad612278d.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/ce5b1c36f6c64377b39e8c7bdbbb9563.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/36729515569f4fb987433c3aec396ee9.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/e277ea597866480aac5ff5c201ef2c8c.mp4" type="video/mp4">
</video>
     {% elsif product.handle contains 'lipstick' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/04c95c2fab3b400291ef8a7ad612278d.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/ce5b1c36f6c64377b39e8c7bdbbb9563.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/36729515569f4fb987433c3aec396ee9.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/e277ea597866480aac5ff5c201ef2c8c.mp4" type="video/mp4">
</video>
     {% elsif product.handle contains 'mascara' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/65973f198ecd421cb6cbf264fd65b4fa.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/4fa3fe086f0b4f6bb361efdf8a6333f7.mov" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/d2abd7418f454d11a5eabf2417e809b1.mp4" type="video/mp4">
</video>
      {% elsif product.handle contains 'primer' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/8e234326e4a545d4966c7ccab0e817df.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/bc82295a0a37485fbc191388cda3d39d.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/8eff35369b5b47518bfc9ee10b44c65c.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/bf14aa10b6fb476cbbbc0c74d50e0bf0.mp4" type="video/mp4">
</video>
    {% elsif product.handle contains 'setting-spray' %}
         <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/a9d00849be36454291dcf71e37cf8972.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/8fa21812f095410195610f931c39423c.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/47758fc07afd44f381b7c4182f0228ce.mp4" type="video/mp4">
</video>
   <video controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/6e047f3cffde4ce58456bd50a9acd46d.mp4" type="video/mp4">
</video>
  {% endif %}
  
</div>
<style>
  .vids-section{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
  }
  .vids-section video{
    width: 22%;
    border-radius: 5px;
  }
  @media only screen and (max-width: 600px) {
 .vids-section video {
    width: 158px;
    margin-right: 10px;
    border-radius: 5px;
}
    .vids-section {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    overflow: auto;
}
}
</style>
{% schema %}
  {
    "name": "Video Section",
    "class" : "future-of-beauty-main" ,
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Video Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}