body{
    font-family: 'inter';
}
.page-width{
    max-width: 1650px;
    margin-inline: auto;
    padding-inline: 15px;
}
h2{
  font-size: 48px;
  font-family: 'inter';
  font-weight: 800;
  text-transform: uppercase;
  line-height: 136%;
}
.home-category .dashed-title::before,.home-category .dashed-title::after,
.dashed-title::before,.dashed-title::after{
    display: none;
}
.home-category .flux img{
    border-radius: 50%;
  transition: transform 400ms ease-in-out;
}
.home-category .flux img:hover{
  transform: scale(1.05);
  transition: transform 400ms ease-in-out;
}
.product-feature-collection .product-item__image .custom-label{
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    top: 10px;
    left: 10px;
    bottom: auto;
    height: auto;
    width: auto;
    transform: none;
    clip-path: none;
    padding: 4px 8px;
    background: #fff;
    font-family: 'Inter';
}
.home-category .flux{
    gap: 80px;
}
.home-category .linkforout{
    padding: 0;
    position: static;
    text-align: center;
    transform: none;
    border: none;
    font-size: 24px;
    line-height: 1;
    font-family: 'Inter';
    font-weight: 700;
    margin-top: 20px;
}
.home-category .categories-flexed{
    margin-top: 6.2rem;
    margin-bottom: 3rem;
}
.home-category .sec-head{
    margin-bottom: 40px !important;
}
.dashed-title.h1{
    font-weight: 800;
    font-size: 48px !important;
    letter-spacing: 0;
    line-height: 136%;
    font-style: normal;
    max-width: 60%;
}
.cta-button {
  padding: 15px 35px;
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  box-shadow: 3px 3px 0px 1px #F6891F;
}
.feature-collection-home h2{
    margin-bottom: 30px !important;
}
.feature-collection-home .product-item__link .product-item__caption .product-item__title{
    font-size: 20px;
    letter-spacing: 0;
    margin: 0 0 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-collection-home .product-item__link .product-item__caption .smallorange {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 140%;
    opacity: .75;
    font-family: 'Inter';
}
.feature-collection-home .product-item__link .price-con{
    background: transparent;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 140%;
    width: auto;
}
.product-pagination{
  display: none;
}
.feature-collection-home .product-item__link .flex-con-col{
    margin-inline: 0;
    width: 100%;
    margin-bottom: 15px;
}
.feature-collection-home .product-item__link .add-to-con.product-item-quickview{
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    font-family: 'Inter';
    text-align: center;
    width: 100%;
    padding: 16px;
    box-shadow: 2px 2px 0 0 #F6891F;
}
.feature-collection-home .product-item__link .product-informations{
    padding: 20px;
    border-top: 1px solid #000;
}
.feature-collection-home .product-item__link {
    border: 1px solid #000;
    box-shadow: 3px 3px 1px 0px #000;
}
.feature-collection-home .product-item{
    padding-bottom: 5px;
}
.feature-collection-home .product-item__link .product-item__image,
.feature-collection-home .product-item__link .product-item__image .lazy-image,
.feature-collection-home .product-item__link .product-item__image .lazy-image img{
    height: 387px;
}
.mobile-img{
  display: none;
}
main-header .shop-look-con{
  display: none;
}
body.show-announcement-bar{
  --body-margin: 106px;
}
.shopify-block #insta-feed h2:before,.shopify-block #insta-feed h2:after{
  display: none;
}
.shopify-section .shopify-block #insta-feed h2{
  max-width: 20%;
}
.shopify-section .shopify-block #insta-feed .instafeed-new-layout-item-container{
  border: 1px solid #000;
}
.shopify-section .shopify-block #insta-feed .instafeed-new-layout-wrapper{
  gap: 0 !important;
}
  .pop-up-quiz-con .product-item .lazy-image img,.pop-up-combo-recommendation .product-item .lazy-image img{
    opacity: 1 !important;
  }
@media (max-width: 1599px){
  .shopify-section .shopify-block #insta-feed h2 {
    max-width: 30%;
}
}
@media (max-width: 1440px){
  .dashed-title.h1,h2{
    font-size: 42px !important;
  }
  .feature-collection-home .product-item__link .product-item__caption .product-item__title{
    font-size: 18px;
    margin: 0 0 7px;
  }
}
@media (max-width: 1279px){
  .home-category .categories-flexed{
    margin-top: 5rem;
  }
  .home-category .flux {
    gap: 50px;
}
  .home-category .linkforout{
    font-size: 20px;
    margin-top: 12px;
  }
  .dashed-title.h1,h2{
    font-size: 38px!important;
  }
  .feature-collection-home .product-item__link .product-informations{
    padding: 15px;
  }
  .feature-collection-home .product-item__link .product-item__image, .feature-collection-home .product-item__link .product-item__image .lazy-image, .feature-collection-home .product-item__link .product-item__image .lazy-image img {
    height: 310px;
}
  .shopify-section .shopify-block #insta-feed h2 {
    max-width: 40%;
}
}
@media (max-width: 768px){
  .home-category .flux img:hover{
    transform: scale(1);
  }
  .product-feature-collection .product-item__image .custom-label{
    font-size: 12px;
    top: 8px;
    left: 8px;
  }
  body.show-announcement-bar{
  --body-margin: 30px;
}
  .cta-button{
    padding: 15px 30px;
    font-size: 14px;
  }
  .feature-collection-home h2 {
    margin-bottom: 20px!important;
}
  .feature-collection-home .product-item__link .product-item__caption .product-item__title{
    margin-bottom: 6px!important;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .feature-collection-home .product-item__link .product-item__caption .product-item__title span{
    padding-bottom: 0;
    white-space: nowrap;
  }
  .home-category .flux div{
    width: 47%;
    margin-bottom: 0;
  }
  .home-category .linkforout{
    font-size: 18px;
    margin-top: 10px;
  }
  .dashed-title.h1,h2{
    font-size: 32px!important;
    max-width: 100%;
    text-align: center;
  }
  .home-category .sec-head {
    margin-bottom: 20px!important;
}
  .home-category .flux{
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
  }
  .home-category .categories-flexed {
    margin-top: 4rem;
    margin-bottom: 1.2rem;
}
  .feature-collection-home .product-item__link .price-con{
    font-size: 16px;
  }
  .feature-collection-home .product-item__link .flex-con-col{
    margin-bottom: 10px;
  }
  .feature-collection-home .product-item__link .add-to-con.product-item-quickview{
    padding: 12px;
  }
  .product-pagination{
    display: block;
    position: static !important;
    margin-top: 20px;
  }
  .product-pagination .swiper-pagination-bullet{
    border-radius: 0;
    background: #00000033;
    margin: 0 2px;
    opacity: 1;
  }
  .product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #000;
  }
  .feature-collection-home .section-header{
    width: 100%;
  }
  .desktop-img{
    display: none;
  }
  .mobile-img{
    display: block;
  }
  .feature-collection-home .product-item__link .product-item__image, .feature-collection-home .product-item__link .product-item__image .lazy-image,
  .feature-collection-home .product-item__link .product-item__image .lazy-image img {
    height: 280px;
}
  .shopify-section .shopify-block #insta-feed h2 {
    max-width: 50%;
    font-style: normal;
    font-size: 30px !important;
    line-height: 150%;
    margin-bottom: 20px !important;
    margin-inline: auto !important;
    text-align: center;
}
}
@media (max-width: 575px){
  .shopify-section .shopify-block #insta-feed h2{
    max-width: 96%;
  }
}