<div class="conti">
    {% section 'featured-brands' %}
  {{ page.content }}



</div>
<style>
  .conti{
    max-width: 1200px;
    padding: 50px 20px;
    margin: auto;
  }
   .conti h2{
     font-family: Inter;
    font-style: italic;
    font-weight: 900;
    font-size: 3.27vw!important;
    line-height: 80px!important;
    max-width: 700px;
    letter-spacing: .05em!important;
    text-transform: uppercase;
    color: #ff3fb5;
     margin-top: 50px;
     max-width: max-content;
   }
   .conti p{
    
    display: inline-block;
    margn: 0 10px!important;
    margin-right: 29px;
    border-bottom: 1px solid #ff8f1a;
    color: #ff8f1a;
   }
  .conti h1{
    font-family: 'Inter';
    font-style: italic;
    font-size: 3em;
    text-align: center;
    color: #ff8f1a;
    font-weight: 800;
  }
  @media only screen and (max-width: 600px) {
 .conti h2 {
    font-size: 7.67vw!important;
  }
}
</style>