<script src="https://smtpjs.com/v3/smtp.js">
</script>

<div class="quiz-page-container">
<div style="position: relative;" class="top-section-quiz">
  <img class="top-right-jali" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_19_1.svg?v=1650269905">
<div class="first-flexed-section-quiz">
  <div class="lefti">
    <img class="arrow-left-orange" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Frame_3.svg?v=1650270143">
     <img class="text-left-orange" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Clean_Makeup_Effective_Skincare.svg?v=1650271210">
    <p class="first-text-for-quiz">WHAT'S YOUR TYPE?</p>
    <p  class="second-text-for-quiz">Understanding your skin type is the first step toward caring for it. Take the test to know the ideal products for your type.</p>
    <div class="desk"><a href="javascript:void(0)" class="third-text-for-quiz button button--solid button--fit">TAKE THE QUIZ</a>
  </div>
    
  </div>
  <div class="righty">
  <img style="width: 100%;position: relative;display: block;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/2022-04-19_Type_Beauty-1227_02_1.png?v=1651482386">
  <img class="righty-jali" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/TYPE_ELEMENTS-14_3.svg?v=1650271364">
    <div class="mob">
     <a href="javascript:void(0)" class="third-text-for-quiz button button--solid button--fit">TAKE THE QUIZ</a>
  
    </div>
   
  </div>
</div>
</div>
<div class="bottom-section-quiz">
  <div class="flexed-out-between">
    <div class="flexed">
    <img class="circle-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_552.svg?v=1650016220">
    <img class="line-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Vector_43_1.svg?v=1650271942">
    
    </div>
    <div>
      <p class="how-works">how it works</p>
    </div>
    <div class="flexed">
      
    <img class="line-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Vector_43_1.svg?v=1650271942">
       <img class="circle-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_552.svg?v=1650016220">
    </div>
  </div>
  <div class="flexed-bottom-sec">
    <div class="flexed-out-thirty">
      <div class="three-golas">
         <img class="first-gola" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_22.svg?v=1650272410">
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/TYPE_ELEMENTS-14_4.svg?v=1650273109">
     <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Mask_group_2.svg?v=1650273138">
      
      </div>
  <div class="inner-flexed-three-texts mob">
    <p class="step">STEP 1</p>
        <p class="step-info">IDENITIFY YOUR SKINTYPE</p>
    </div>
    </div>
    <div class="flexed-out-thirty">
      <div class="flex-three-cons">
      <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_571.svg?v=1650273568">
        <img class="mid" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_570.svg?v=1650273568">
        <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_572.svg?v=1650273568">
        
      </div>
        <div class="inner-flexed-three-texts mob">
    <p class="step">STEP 2</p>
        <p class="step-info">pick YOUR  skin tone</p>
    </div> 
      <div>
      
      
        </div> 
    </div>
    <div class="flexed-out-thirty">
    <img class="third" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_86.svg?v=1650273893">
     <div class="inner-flexed-three-texts mob">
    <p class="step">STEP 3</p>
        <p class="step-info">GET A ROUTINE ideal FOR YOUR skin</p>
    </div>
    
    </div>
  </div>
  <div class="flexed-bottom-sec-desk ">
    <div class="inner-flexed-three-texts desk">
    <p class="step">STEP 1</p>
        <p class="step-info">IDENITIFY YOUR SKINTYPE</p>
    </div>
     <div class="inner-flexed-three-texts desk">
    <p class="step">STEP 2</p>
        <p class="step-info">pick YOUR  skin tone</p>
    </div> <div class="inner-flexed-three-texts desk">
    <p class="step">STEP 3</p>
        <p class="step-info">GET A ROUTINE ideal FOR YOUR skin</p>
    </div>
   
  </div>
</div>



</div>
<div class="overlay pop-up-final-outer">
  <div style="position: relative;width: 100%;height: 100%;">
  <div class="pop-up-quiz-con">
    <a class="close-icon" href="javascript:void(0)">
    <img style="display: block;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_82.svg?v=1651562668"></a>
<div class="filter-skin-main page-width" id="filter-header">

 
   <div class="Skin-type  ">
          <div class="filter_title ">
            <div class="stepi">STEP 1</div>
            <div class="img-div">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi grayed-step">STEP 2</div>
            <div class="img-div">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi grayed-step">STEP 3</div>
     </div>
     <h2>What is your skin Type</h2>
     <div class="skin-options">
       
     </div>
     <div class="skin-shade " style="display:none;">
        <h2>What is your skin Concern</h2>
       <select id="skin_shade">
<!--            <option>Select Shades</option> -->
       </select>
        <button style="display:none" class="step-btn" id="step2">Continue to Step 2</button>
     </div>
     <div class="step-level-indicator">
     <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_287.svg?v=1651568915">
        <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
        <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
     </div>
     <p style="width: max-content;
    margin: auto;
    text-align: center;
    margin-top: 19px;
          border-bottom: 1px solid #fff;
       margin-bottom: 10px;
 ">For additional help <a style="border-bottom: 1px solid #000;" href="https://wa.me/9625226472"> message +91 96252 26472</a>   
</p>
  <p style="text-align: center;margin-bottom: 10px;">Or</p>
     <p style="width: max-content;
    margin: auto;
    text-align: center;
    margin-top: 10px;
          border-bottom: 1px solid #fff;
 "> <a style="border-bottom: 1px solid #000;" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/typebeautyinc/virtual-beauty-consultation'});return false;">Book a virtual consultation.</a></p>
   </div>
   
   <div class="skin-more-options  " style="display:none;">
         <div class="filter_title ">
            <div class="stepi grayed-step">STEP 1</div>
            <div class="img-div">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi ">STEP 2</div>
            <div class="img-div">
            <img  src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi grayed-step">STEP 3</div>
     </div>
     <h2>SeLECT THE BRAND, PRODUCT NAME AND 
       SHADE OF CONCEALER THAT MATCHES YOUR SKIN 
       CLOSELY TO FIND YOUR PERFECT TYPE MATCH </h2>
     <div class="consealer-select">
     <select id="brand_select"><option>Select Concealer Brand</option></select>
     <select id="productname_select"><option val="pro-name">Select Concealer Product Name</option></select>
     <select id="shade_select"><option val="pro-shade">Select Concealer Shade</option></select>
     </div>
    <h2>SeLECT THE BRAND, PRODUCT NAME AND 
       SHADE OF FOUNDATION THAT MATCHES YOUR SKIN 
       CLOSELY TO FIND YOUR PERFECT TYPE MATCH </h2>
<div class="foundation-select">
      <select id="brand_select-fd"><option>Select Foundation Brand</option></select>
     <select id="productname_select-fd"><option val="pro-name">Select Foundation Product Name</option></select>
     <select id="shade_select-fd"><option val="pro-shade">Select Foundation Shade</option></select>
</div>
     <button style="display:none" class="step-btn" id="step3">Continue to Step 3</button>
         <div class="step-level-indicator">
              <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
     <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_287.svg?v=1651568915">
     
        <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
     </div>
  </div>
   <div class="recommended-output" style="display:none;">
            <div class="filter_title ]">
            <div class="stepi grayed-step">STEP 1</div>
            <div class="img-div">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi grayed-step">STEP 2</div>
            <div class="img-div">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_41.svg?v=1651564317">
            </div>
            <div class="stepi ">STEP 3</div>
     </div>
 
     <h2>recommended products for your skin:</h2>
     <p class="recomm-shade">Recommended  Shade For Concealer: <span class="shade-recommended"></span></p>
     
     {% section 'skincare-results' %}
     {% comment %}
     <input type="email" placeholder="Your Email" class="resultmail">
     <button type="submit" id="emailresults">EMAIL ME THE RESULTS</button>
{% endcomment %}
   <div class="step-level-indicator">
              <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
    
     
        <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_288.svg?v=1651568915">
      <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_287.svg?v=1651568915">
     </div>
  </div>
 
  
  </div>

</div>
  
  </div>
</div>
<div class="pop-up-combo-recommendation">
  <div class="inner-pop-up-combo-recommendation" style="position: relative;">
    <img class="cross-inner" style="display: block;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_82.svg?v=1651562668">
    <h2 class="text-combo-name">hi</h2>
      <a style="text-align:center;color: #ff3fb5;
    border-bottom: 2px solid #ff3fb5;" href="https://www.typebeautyinc.com/collections/diwali-potli/products/build-your-own-bundl">or make your own combo here</a>
    {% section 'bundles-set-results' %}
  
  </div>
  
</div>
<style>
  .inner-pop-up-combo-recommendation{
     padding: 50px;
  }
  .cross-inner{
   position: absolute;
/*     top: 21%; */
    right: 2%;
    width: 2%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
.pop-up-combo-recommendation{
 display: none;
    position: fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
    left: 50%;
    top: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    width: 50%;
    max-height: 78vh;
    overflow: auto;
  z-index: 9999;
}
select{
 cursor:pointer;
}
.product-item {
margin-bottom: 0!important;
}
.mount-parallax-w-padding{
margin-bottom: 30px!important;
}
.dashed-title{
display: none;
}
.recomm-shade{
font-family: 'Inter';
font-weight: 500;
font-size: 15px;
line-height: 154.69%;
/* or 31px */

letter-spacing: 0.05em;

color: #000000;
}
 .recomm-shade span{
text-transform: uppercase;
  font-weight: 700;
  color: #FF3FB5;
}
.step-level-indicator{
display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.step-level-indicator img{
width: 30%;
}
.skin-more-options select{
 font-family: 'Inter';
font-weight: 700;
font-size: 11.9318px;
line-height: 126.69%;
background-color: #fff;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000;
width: 49%;
  display: block;
  max-height: 45px;
  border: 1px solid #FF8F1A;
  margin-bottom: 30px;
}
#skin_shade:focus-visible{
 border: 1px solid #FF8F1A;

}
#skin_shade{
    font-family: 'Inter';
font-weight: 700;
font-size: 11.9318px;
line-height: 126.69%;
background-color: #fff;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000;
width: 49%;
  display: block;
  max-height: 45px;
  border: 1px solid #FF8F1A;
}
.skin-opt{
border-radius: 25px!important;
  font-family: 'Inter';
font-weight: 500;
font-size: 20px;
line-height: 154.69%;
/* or 31px */

letter-spacing: 0.05em;
}
.recommended-output h2{
 font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 1.5vw;
line-height: 117.19%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
}
.skin-more-options h2{
 font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 1.5vw;
line-height: 117.19%;
/* or 35px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
}
.Skin-type h2{
font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 2vw;
line-height: 117.19%;
/* or 35px */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
}
.filter_title img{
width: 100%;
}
.img-div{
width: 31%;
}
.grayed-step{
color: #ABABAB!important;
}
.stepi{
font-family: Inter;
font-weight: 900;
font-size: 16px;
line-height: 144.19%;
margin: 0 10px;
  white-space: pre;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.filter_title{
display: flex!important;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.close-icon{
display: block;
  width: max-content;
  margin-bottom: 40px;
}
.pop-up-final-outer{
display: none;
}
.overlay{
position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}
.quiz-page-container{
position: relative;
  
}
.pop-up-quiz-con{
padding: 50px;
  position: absolute;
  left: 50%;
  top: 59%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  width: 50%;
  max-height: 78vh;
  overflow: auto;
}
.step-info{
font-family: Inter;
font-style: italic;
font-weight: 900;
font-size: 16px;
line-height: 133.69%;
/* or 21px */

text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FF3FB5;
}
.inner-flexed-three-texts{
width: 30%;
}
.flexed-bottom-sec-desk{
display: flex;
  justify-content: space-between;
}
.step{
font-family: Inter;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
font-weight: 900;
font-size: 16px;
line-height: 133.69%;
/* or 21px */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}
.third{
display: flex;
  margin: auto;
  margin-top: -65px;

}
.mid{
margin: 0 -40px;
}
.flex-three-cons{
display: flex;
  justify-content: center;
}
.flex-three-cons img{
opacity: 0.8;
}
.first-gola{
border-radius: 50%;
  margin: 0 20px;
}
.three-golas{
display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flexed-out-thirty{
width: 30%;
}
.flexed-bottom-sec{
display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.how-works{
font-family: Inter;
  margin: 0 20px;
font-weight: 900;
font-size: 35px;
line-height: 144.19%;
/* or 50px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.flexed{
display: flex;
  align-items: center;
  justify-content: center;
}
.flexed-out-between{
display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.bottom-section-quiz{
max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}
.top-section-quiz{
margin-bottom: 154px;
}
.righty-jali{
position: absolute;
  left: 2%;
  bottom: -32%;
  transform: translate(-50%, -50%);
  width: 24%;
  z-index: -1;
}
.text-left-orange{
position: absolute;
  top: 72%;
  left: 44%;
  transform: translate(-50%, -50%);
  width: 30%;
}
.arrow-left-orange{
position: absolute;
  top: 65%;
  left: 19%;
  transform: translate(-50%, -50%);
  width: 22%;
}
.top-right-jali{
position: absolute;
  right: 0;
  top: -90px;

}
.third-text-for-quiz:hover{
background-color: #FF3FB5;
}
.third-text-for-quiz{
display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
font-weight: 700;
font-size: 17px;
line-height: 126.69%;
/* or 25px */

text-align: center;
letter-spacing: 0.075em;

color: #FFFFFF;
}
.first-text-for-quiz{
font-family: Inter;
font-style: italic;
font-weight: 900;
font-size: 2.4vw;
line-height: 117.19%;
margin-bottom: 8px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
}
.second-text-for-quiz{
font-family: Inter;
font-weight: 500;
font-size: 1.1vw;
line-height: 154.69%;
/* or 31px */

letter-spacing: 0.05em;

color: #000000;
}
.lefti{
width: 36%;
  padding-top: 40px;
  position: relative;
}
.righty{
width: 61%;
  position: relative;
}
.first-flexed-section-quiz{
max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
  .resultmail{
border: none;
  background-color: #000;
  height: 41px;
  width: 100%;
    color: #fff!important;
  font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 15px;
line-height: 12px;
}
.resultmail::placeholder{
color: #fff;
  font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: `15px;
  text-align: center;
line-height: 12px;
  
}
#emailresults:hover{
color: #FF3FB5;
}
.recomm-shad-fd {
  margin-top:35px;
}

#shopify-section-bundles-set-results .collection--regular {
    text-align: center;
    align-items: center;
    justify-content: center;
}
#shopify-section-bundles-set-results a.product-item__link {
    margin-bottom: 25px;
    display: block;
}
  
  @media only screen and (max-width: 1100px) {
.pop-up-quiz-con {
  width: 79%;
}
    .first-text-for-quiz{
    font-size: 3.4vw;
    }
    .second-text-for-quiz{
    font-size: 2.1vw;
    }
    .arrow-left-orange {
  position: absolute;
      top: 114%;}
    .text-left-orange {
  position: absolute;
      top: 122%;}
    .three-golas img{
    width: 49%;
    }
    .first-gola{
    width: 45%;
    }
}
@media only screen and (max-width: 768px) {
   .cross-inner{
  width: 3%;
   }
   .inner-pop-up-combo-recommendation{
   padding: 20px;
  }
  .pop-up-combo-recommendation{
    width: 90%;
   
  }
  .three-golas img {
  width: 32%;
}
.first-flexed-section-quiz ,.flexed-bottom-sec{
 display: block;
}
  .lefti,.righty,.flexed-out-thirty{
  width: 100%
  }
  .lefti{
  padding: 0;
  }
  .first-text-for-quiz{
  font-size: 7.5vw;
    margin-bottom: 12px;
  }
  .second-text-for-quiz{
  margin-bottom: 120px;
    font-size: 4.1vw;
  }
  .arrow-left-orange {
 left: 56%;
    top: 124%;
}
  .text-left-orange {
  position: absolute;
  top: 136%;
  left: 81%;
  transform: translate(-50%, -50%);
  width: 30%;
}
  .top-right-jali {
  position: absolute;
  right: initial;
  top: initial;
    left: 0;
   bottom: 40%;
  width: 39%;
}
  .righty-jali {
  position: absolute;
  left: initial;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 24%;
  z-index: -1;
  right: -23%;
}
  .third-text-for-quiz {
  margin:auto;
    margin-top: 43px;
    
  }
  .top-section-quiz {
  margin-bottom: 104px;
}
  .line-diagram{
  width: 93%;
  }
  .how-works {
  white-space: pre;
    font-size: 22px;
    margin: 0 9px;
}
  .inner-flexed-three-texts {
  width: 55%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 81px;
}
  .first-gola {
  border-radius: 50%;
  margin: 0 74px;
}
}
#shopify-section-footer{
margin-top: 100px!important;
}
</style>
<script>

$( ".third-text-for-quiz" ).click(function() {
$('.pop-up-final-outer').fadeIn();
  $(".pop-up-quiz-con").fadeIn();
});
$( ".close-icon" ).click(function() {
$('.pop-up-final-outer').fadeOut();
});
$(document).mouseup(function(e) 
{
  var container = $(".pop-up-quiz-con");

  // if the target of the click isn't the container nor a descendant of the container
  if (!container.is(e.target) && container.has(e.target).length === 0) 
  {
   $('.pop-up-final-outer').fadeOut();
  }
});
</script>
<style>
button#emailresults {
  margin: 0 auto;
  float: none;
  display: block;
  text-decoration: underline;
}
input.resultmail {
  margin-bottom: 20px;
}

.filter-skin-main{ margin:0 auto; }
.filter-skin-main .ten-tenths {
    margin: 0 auto;
      display: block;
}
.skin-options li {
  list-style-type: none;
}
.skin-shade {
  margin: 25px 0px;
  margin-bottom: 0;
}
.step-btn{


  background-color: #000;
  color: #fff;
  border: none;
  padding: 0;
  justify-content: center;
  padding: 10px 30px!important;
  height: auto;
  text-transform: Capitalize;
cursor: pointer;
  transition: all 0.2s ease-out;
 display: block;
 margin: auto;
   margin-top:30px;
}
.step-btn:hover{
background-color: #FF3FB5;
}
.filter-skin-main .collection.collection--regular {
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 30px;
}
.recomm-shade {
  text-align: center;
}
.recomm-shade span {
  display: initial!important;
}
.img-div img{
vertical-align: middle;
}
@media only screen and (max-width: 768px) {
.pop-up-quiz-con {
  padding: 28px;
  top: 43%;
  width: 92%;
}
  .close-icon{
  margin-bottom: 25px;
  }
  .stepi{
  font-size: 12px;
  margin: 0 6px;
  }
  .filter_title {
  margin-bottom: 25px;
  }
  .Skin-type h2 {
    font-size: 4vw;
  }
  select{
  width: 100%!important;
    font-size: 10.9318px!important;
    max-height: 40px!important;
  }
  .skin-more-options h2 {
    font-size: 3.5vw;
  
  }
  .product-item {
  width: 90%!important;
}
  .collection--regular {
  margin-left: -4%!important;
  }
  .recommended-output h2 {
  font-size: 3.2vw;
  }
  
}
 .collection--regular {
  margin-left: -4%!important;
  }
.skin-opt:checked {
  background: #ff3fb5!important;
}

</style>

<script>
$( "#step3" ).click(function() {
// $('.pop-up-combo-recommendation').delay(5000).fadeIn();
});
$( ".cross-inner" ).click(function() {
 $(".pop-up-combo-recommendation").fadeOut();
});
  $('.recommended-pro').hide(); 
//      $('#shade_select').html('<option val="pro-shade">Select Shade</option>');
  function doStuff(data) {

    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
      
//           console.log(manu_options);
    
      
        var array_unique = data[key][0];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
      
         }); 
    
//       console.log(unique_mf);
    
    let uni_manufacture = [...new Set(unique_mf)];

   
    for (var i = 0; i < uni_manufacture.length; i++) {
      if(uni_manufacture[i]!= null) {
        // console.log(uni_manufacture[i]+'val');
       var manu_options = '<li><input type="radio" name="option-skin" class="skin-opt" value='+ uni_manufacture[i] +'><label>'+uni_manufacture[i]+'</label></li>';
   
      $('.skin-options').append(manu_options);
//         console.log(uni_manufacture[i]);
      }
    }
    
//       console.log(unique_md);
    
    let uni_model = [...new Set(unique_md)];

   
    for (var i = 0; i < uni_model.length; i++) {
       var model_options = '<option value='+uni_model[i]+'>'+uni_model[i]+'</option>';
//           $('#model_opt').append(model_options);
      
//         console.log(model_options[i]);
      
    }
    
//       console.log(unique_yr);
    
     let uni_year = [...new Set(unique_yr)];

   
    for (var i = 0; i < uni_year.length; i++) {
       var year_options = '<option value='+uni_year[i]+'>'+uni_year[i]+'</option>';
//          $('#make_year_opt').append(year_options);
     // console.log(uni_year[i]);
      
    }
   
     
   
    
}

     function doStuffsearch(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      

         }); 
    
       
     
        let uni_unique_veh = [...new Set(unique_veh)];
var realveh = uni_unique_veh.filter(function (e) {return e != null;});
//      console.log(realveh);
         
//            $('#skin_shade').empty();
       
      
       var checkboxes = document.getElementsByName('option-skin');
       for (var checkbox of checkboxes)
       {
         if (checkbox.checked) {
//              alert(checkbox.value + ' ');
           var val_model = checkbox.value.trim();
           console.log(val_model+'test');
         }
       }
       
        var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
       console.log(val_model+task_names.length);
       
    for (var i = 0; i < task_names.length; i++) {
      if(task_names[i].length>1){
//         console.log(task_names[i]);
      
       if($.inArray(val_model, task_names[i]) != -1){  
          console.log(task_names[i][1]);
       var manu_options = '<option value="'+task_names[i][1]+'">'+task_names[i][1]+'</option>';
     
      $('#skin_shade').append(manu_options);
         $('.skin-shade').show();
//         console.log(realveh[i]);
        }
      
    }
    }
       var first_val = $("#skin_shade option:nth-child(1)").val();
       console.log('First Value: '+first_val);
       $("#skin_shade").val(first_val).change();
   
}

     function doStuffsearch2(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
    
      
      
         }); 
    
        $('#make_year_opt').html('<option value="default">Select Year</option>');
       
          var checkboxes = document.getElementsByName('option-skin');
       for (var checkbox of checkboxes)
       {
         if (checkbox.checked) {
//              alert(checkbox.value + ' ');
           var val_type = checkbox.value.trim();
           console.log(val_type+': shade');
         }
       }
       
//             var val_type = 'Sensitive';
          var manufacturer_opt1 = $('#skin_shade').val();
          
//              console.log(val_type+manufacturer_opt);
         var match_array = val_type+manufacturer_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
     
         $('#model_opt').empty();
       
      var val_model = $('#manufacturer_opt').val();
       var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
        let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
       
       
       
          for (var i = 0; i < task_names.length; i++) { 
            
             var arr2_loc = task_names[i].filter(function (e) {return e != null;});
           const arr2 = task_names[i];
            
            const results = arr2.map(element => {
              if (typeof element === 'string') {
                return element.trim();
              }

              return element;
            });
            
//           console.log(arr2_loc);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, results);
//               console.log('checked array:- '+array_checked);
       
           if (array_checked== true){
//              console.log(task_names[i]);
             var model_val = task_names[i][2].replaceAll(' ', '-');
            var foundation_val = task_names[i][3].replaceAll(' ', '-');
          var primer_val = task_names[i][4].replaceAll(' ', '-');
             
             console.log('Model value:- '+model_val);
             console.log('concealer value:- '+foundation_val);
             console.log('Primer value:- '+primer_val);
             
             $('.recommended-pro').hide();
              $('.recommended-pro').removeClass('mail-product');
             $('.'+model_val).addClass('mail-product');
             $('.'+model_val).show();
             
              $('.'+foundation_val).addClass('mail-product');
              $('.'+foundation_val).show();
             
               $('.'+primer_val).addClass('mail-product');
              $('.'+primer_val).show();
             
             $('#step2').show();
//                var model_option = '<option value="'+model_val+'">'+model_val+'</option>'; 
//                 $("#model_opt").append('<option value="default">Select Model</option>'+model_option); 
           }
          
            
            
          }

            

       
      
    
}

  
   function doStuffsearchbundle(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
    
      
      
         }); 
    
        $('#make_year_opt').html('<option value="default">Select Year</option>');
       
          var checkboxes = document.getElementsByName('option-skin');
       for (var checkbox of checkboxes)
       {
         if (checkbox.checked) {
//              alert(checkbox.value + ' ');
           var val_type = checkbox.value.trim();
           console.log(val_type+': shade');
         }
       }
       
//             var val_type = 'Sensitive';
          var manufacturer_opt1 = $('#skin_shade').val();
          
//              console.log(val_type+manufacturer_opt);
         var match_array = val_type+manufacturer_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
     
         $('#model_opt').empty();
       
      var val_model = $('#manufacturer_opt').val();
       var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
        let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
       
       
       
          for (var i = 0; i < task_names.length; i++) { 
            
             var arr2_loc = task_names[i].filter(function (e) {return e != null;});
           const arr2 = task_names[i];
            
            const results = arr2.map(element => {
              if (typeof element === 'string') {
                return element.trim();
              }

              return element;
            });
            
//           console.log(arr2_loc);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
  
         var array_checked = contains(arr1, results);
//               console.log('checked array:- '+array_checked);
       
           if (array_checked== true){
//              console.log(task_names[i]);
             var model_val = task_names[i][2].replaceAll(' ', '-');
            var foundation_val = task_names[i][3].replaceAll(' ', '-');
          var primer_val = task_names[i][4].replaceAll(' ', '-');
             
             console.log('Model value:- '+model_val);
             console.log('concealer value:- '+foundation_val);
             console.log('Primer value:- '+primer_val);

         
 
             $('.recommended-pro').hide();
             $('.recommended-pro').removeClass('active-bundle-pro');
             
              $('.recommended-pro').removeClass('mail-product');
             $('.'+model_val).addClass('mail-product');
             $('.'+model_val).show();
             
              $('.'+foundation_val).addClass('mail-product');
              $('.'+foundation_val).show();
             
               $('.'+primer_val).addClass('mail-product');
              $('.'+primer_val).show();
               $('.'+primer_val).addClass('active-bundle-pro');

              if ( model_val == 'eye-light-concealer' && foundation_val == 'decrease-foundation' && primer_val == 'over-dew-primer')
              {
              $('.text-combo-name').html("The Over dew Set");
              $('.the-over-dew-set').show();
              $('.pop-up-combo-recommendation').delay(5000).fadeIn();
              }
             
              if ( model_val == 'get-even-concealer' && foundation_val == 'get-even-foundation' && primer_val == 'get-even-primer')
              {
              $('.text-combo-name').html("The Get Even Set");
              $('.the-get-even-set').show();
              $('.pop-up-combo-recommendation').delay(5000).fadeIn();
              }

             if ( model_val == 'eye-light-concealer' && foundation_val == 'calm-on-foundation' && primer_val == 'calm-on-primer')
              {
              $('.text-combo-name').html("The Calm On Set");
              $('.the-calm-on-set').show();
              $('.pop-up-combo-recommendation').delay(5000).fadeIn();
              }

               if ( model_val == 'zit-quit-concealer' && foundation_val == 'matte-up-foundation' && primer_val == 'matte-up-balancing-primer')
              {
              $('.text-combo-name').html("The Zit Quit Set");
              $('.the-zit-quit-set').show();
              $('.pop-up-combo-recommendation').delay(5000).fadeIn();
              }

               if ( model_val == 'get-even-concealer' && foundation_val == 'matte-up-foundation' && primer_val == 'matte-up-balancing-primer')
              {
              $('.text-combo-name').html("The Matte Up Set");
              $('.the-matte-up-set').show();
              $('.pop-up-combo-recommendation').delay(5000).fadeIn();
              }
             
             $('#step2').show();
//                var model_option = '<option value="'+model_val+'">'+model_val+'</option>'; 
//                 $("#model_opt").append('<option value="default">Select Model</option>'+model_option); 
           }
          
            
            
          }
  
    
}
  
//   Step 2 1st brand select options


  function doStuffstep21(data) {

    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
      
//           console.log(manu_options);
    
      
        var array_unique = data[key][0];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
      
         }); 
    

    
    let uni_manufacture = [...new Set(unique_mf)];
     // console.log(uni_manufacture); 
   
    for (var i = 0; i < uni_manufacture.length; i++) {
     
      if(uni_manufacture[i]!= null) {
<!--            console.log(uni_manufacture[i]); -->
       var manu_options = '<option value="'+uni_manufacture[i]+'">'+uni_manufacture[i]+'</option>';
   
      $('#brand_select').append(manu_options);
//         console.log(uni_manufacture[i]);
      }
    }
    

        $('#step3').on('click', function() {
          var val_type = $('#brand_select').val();
          var manufacturer_opt1 = $('#productname_select').val();
           var model_opt1 = $('#shade_select').val();
//              var make_year_opt1 = $('#make_year_opt').val();
//              console.log(manufacturer_opt+model_opt+make_year_opt);
         var match_array = manufacturer_opt1+','+model_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
         loc_array.push(model_opt1);
//            loc_array.push(parseInt(make_year_opt1));
//            loc_array.push('Small');
         
         console.log(loc_array);
            let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
         
          if(arr1[0] == 'default'){
           alert('Please select options to Search.');
           
           }

         var task_names = data;
         for (var i = 0; i < task_names.length; i++) { 

         if ($.inArray(arr1, task_names[i]) == 1) {
           // Neither foo or bar in array
           
            var array1234 = $.map(task_names[i], function(value, index){
               return [value];
             }); 
//              console.log('Araay comp1 : '+task_names[i]);
           
             var loc1 =[];
//              console.log(array123);
             $.each(array1234, function(index, value){ 

                 loc1.push(value);                 
                            
             });
//                console.log('Araay comp1 : '+loc1);
           
         }
           
           const arr2 = task_names[i];
//             console.log(arr2);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, arr2);
           console.log(array_checked);
           
           if (array_checked== true){
           
              console.log(contains(arr1, arr2));
              var skinshade = task_names[i][3];
             var foundationshade = task_names[i][4];
             console.log('Skin Shade: '+ skinshade);
             // console.log('FOundation Shade: '+foundationshade);
              $('.shade-recommended').html(skinshade);
             // $('.shade-recommended-fd').html(foundationshade);
             
           }
            
           
         
           
           
         }
         
//            console.log(checker(array2, array1));  // false
         
         
        });   
       
   
}
// End of brand select

//   Step 2 Select Product Name
    function doStuffsearch22(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      

         }); 
    
       
     
        let uni_unique_veh = [...new Set(unique_veh)];
var realveh = uni_unique_veh.filter(function (e) {return e != null;});
//      console.log(realveh);
         
         $('#productname_select').empty();
       
      
           var val_model = $('#brand_select').val().trim();
           console.log(val_model+'test');
        
        var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
       console.log(val_model+task_names.length);
       
    for (var i = 0; i < task_names.length; i++) {
      if(task_names[i].length>1){
//         console.log(task_names[i]);
      
       if($.inArray(val_model, task_names[i]) != -1){  
          console.log(task_names[i][1]);
       var manu_options = '<option value="'+task_names[i][1]+'">'+task_names[i][1]+'</option>';
     
      $('#productname_select').append(manu_options);
         
//         console.log(realveh[i]);
      
         
         
        }
      
    }
    }
      
        var prod_name = $('#productname_select').val().trim();
           console.log(prod_name+'product name');
       parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/step-two-sheet.csv?v=1651376564", doStuffsearch23);
       $('#shade_select').empty();
        $('#shade_select').append('<option val="pro-shade">Select Shade</option>');
}

//   Product Shade Select

      function doStuffsearch23(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
      
      
//           var val = "Ducati"; 
//          var next = manufacturer_serh[($.inArray(val, manufacturer_serh) + 1) % manufacturer_serh.length];
       //console.log(next);
      
      
         }); 
    
        
       
         var val_type = $('#brand_select').val().trim();
           console.log(val_type+'test');
       
//             var val_type = 'Sensitive';
          var manufacturer_opt1 = $('#productname_select').val();
          
//              console.log(val_type+manufacturer_opt);
         var match_array = val_type+manufacturer_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
     
      
      var val_model = $('#manufacturer_opt').val();
       var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
        let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
       
        $('#shade_select').empty();
        $('#shade_select').append('<option val="pro-shade">Select Shade</option>');

          for (var i = 0; i < task_names.length; i++) { 
            
             var arr2_loc = task_names[i].filter(function (e) {return e != null;});
           const arr2 = task_names[i];
            
            const results = arr2.map(element => {
              if (typeof element === 'string') {
                return element.trim();
              }

              return element;
            });
            
//           console.log(arr2_loc);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, results);
//               console.log('checked array:- '+array_checked);
       
           if (array_checked== true){
//              console.log(task_names[i]);
             var model_val = task_names[i][2].trim();
             console.log('Model value:- '+model_val);
//                $('.recommended-pro').hide();
//                $('.'+model_val).show();
             var shade_option = '<option value="'+model_val+'">'+model_val+'</option>'; 
              $("#shade_select").append(shade_option); 
           }
            
            
            
          }

            

       
      
    
}

//   End of shade

         
       $('#filter_srh').on('click', function() {
         $('.filter-loading').fadeIn();
         $('.filter-loading').css('display', 'flex');
         setTimeout(function() {
           $('.filter-loading').fadeOut();
         }, 2000);
         
          var val_type = $('#vehicle_type').val();
          var manufacturer_opt1 = $('#manufacturer_opt').val();
           var model_opt1 = $('#model_opt').val();
           var make_year_opt1 = $('#make_year_opt').val();
//              console.log(manufacturer_opt+model_opt+make_year_opt);
         var match_array = manufacturer_opt1+','+model_opt1+','+make_year_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
         loc_array.push(model_opt1);
         loc_array.push(parseInt(make_year_opt1));
//            loc_array.push('Small');
         
//            console.log(loc_array);
            let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
         
         var task_names = [];
         for (var i = 0; i < data.length; i++) { 

           
           const arr2 = data[i];
//             console.log(arr2);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, arr2);
         
           console.log(array_checked);
           
           if (array_checked== true){
           console.log(data[i]);
              console.log(contains(arr1, arr2));
              var checked_strap = data[i][4];
             
              if (checked_strap=='Small'){
//                alert('Small');
                $('.no_strap_found').fadeOut();
                 $('.small_strap').fadeIn();
                $('.medium_strap').fadeOut();
                 $('.no_strap').fadeOut();
             }
             if (checked_strap=='Medium'){
                $('.no_strap_found').fadeOut();
               $('.medium_strap').fadeIn();
               $('.small_strap').fadeOut();
                 $('.no_strap').fadeOut();
//                alert('Medium');
             }
              if (checked_strap=='?'){
//                alert('?');
                 $('.no_strap_found').fadeOut();
                  $('.no_strap').fadeIn();
                 $('.medium_strap').fadeOut();
               $('.small_strap').fadeOut();
             }
             
           }
           
           
           
         }
         

        

         
          });





function parseData(url, callBack) {
  Papa.parse(url, {
      download: true,
      dynamicTyping: true,
      complete: function(results) {
          callBack(results.data);
      }
  });
}

parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Skincare-quiz-foundation-01_-_Skincare-quiz-foundation_1_1.csv?v=1672252034", doStuff);



 $(document).on("click",".skin-opt",function() {
//   alert(this.value);
     parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Skincare-quiz-foundation-01_-_Skincare-quiz-foundation_1_1.csv?v=1672252034", doStuffsearch);
               
               
  });  

   $('#skin_shade').on('change', function() {
//   alert( this.value );
     parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Skincare-quiz-foundation-01_-_Skincare-quiz-foundation_1_1.csv?v=1672252034", doStuffsearch2);
               
               
  });  
  
//   Step 2 Functions start here

parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Shades_-_step-two-sheet.csv?v=1660823446", doStuffstep21);

$('#brand_select').on('change', function() {
  //   alert( this.value );
  parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Shades_-_step-two-sheet.csv?v=1660823446", doStuffsearch22);
});   


 $('#productname_select').on('change', function() {
  //   alert( this.value );
  parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Shades_-_step-two-sheet.csv?v=1660823446", doStuffsearch23);
});   

$('#shade_select').on('change', function() {
// $('#step3').show();
});


// Foundation Step 2 starts Here 

  function doStufffoundation1(data) {
  console.log('Foundation Brands starts here');
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
      
//           console.log(manu_options);
    
      
        var array_unique = data[key][0];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
       }); 
    
    let uni_manufacture = [...new Set(unique_mf)];
     console.log(uni_manufacture); 
   
    for (var i = 0; i < uni_manufacture.length; i++) {
     
      if(uni_manufacture[i]!= null) {
         console.log(uni_manufacture[i]);
        var foundation_brand = uni_manufacture[i].trim();
        
       var manu_options1 = '<option value="'+uni_manufacture[i]+'">'+uni_manufacture[i]+'</option>';
   
      $('#brand_select-fd').append(manu_options1);
//         console.log(uni_manufacture[i]);
      }
    }
    
        $('#step3').on('click', function() {
          var val_type = $('#brand_select-fd').val();
          var manufacturer_opt1 = $('#productname_select-fd').val();
           var model_opt1 = $('#shade_select-fd').val();
//              var make_year_opt1 = $('#make_year_opt').val();
//              console.log(manufacturer_opt+model_opt+make_year_opt);
         var match_array = manufacturer_opt1+','+model_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
         loc_array.push(model_opt1);
//            loc_array.push(parseInt(make_year_opt1));
      console.log(loc_array);
            let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
         
          if(arr1[0] == 'default'){
           alert('Please select options to Search.');
           
           }

         var task_names = data;
         for (var i = 0; i < task_names.length; i++) { 

         if ($.inArray(arr1, task_names[i]) == 1) {
           // Neither foo or bar in array
           
            var array1234 = $.map(task_names[i], function(value, index){
               return [value];
             }); 
//              console.log('Araay comp1 : '+task_names[i]);
           
             var loc1 =[];
//              console.log(array123);
             $.each(array1234, function(index, value){ 

                 loc1.push(value);                 
                            
             });
//                console.log('Araay comp1 : '+loc1);
           
         }
           
           const arr2 = task_names[i];
//             console.log(arr2);
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, arr2);
           console.log(array_checked);
           
           if (array_checked== true){
           
              console.log(contains(arr1, arr2));
              var skinshade = task_names[i][3];
             var foundationshade = task_names[i][4];
             // console.log('Skin Shade: '+ skinshade);
             console.log('FOundation Shade: '+foundationshade);
              // $('.shade-recommended').html(skinshade);
             $('.shade-recommended-fd').html(skinshade);
             
           }
         }
         
              //            console.log(checker(array2, array1));  // false
 });   
       
   
}
// End of foundation brand select

//   Step 2 Select Foundation Product Name
    function doStufffoundation2(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      

         }); 
    
       
     
        let uni_unique_veh = [...new Set(unique_veh)];
var realveh = uni_unique_veh.filter(function (e) {return e != null;});
//      console.log(realveh);
         
         $('#productname_select-fd').empty();
       
      
           var val_model = $('#brand_select-fd').val();
           console.log(val_model+'test');
        
        var task_names = [];
       data.forEach(function (i) {
         task_names.push(i);              
       });
       
       console.log(val_model+task_names.length);
       
    for (var i = 0; i < task_names.length; i++) {
      if(task_names[i].length>1){
        console.log(task_names[i]);
      
       if($.inArray(val_model, task_names[i]) != -1){  
          console.log(task_names[i][1]);
         
       var manu_options = '<option value="'+task_names[i][1]+'">'+task_names[i][1]+'</option>';
     
      $('#productname_select-fd').append(manu_options);
         
//         console.log(realveh[i]);
      
         
         
        }
      
    }
    }
      
        var prod_name = $('#productname_select-fd').val().trim();
           console.log(prod_name+'product name');
       parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Foundation_Shade_Matching.csv?v=1660901555", doStufffoundation3);
       $('#shade_select-fd').empty();
        $('#shade_select-fd').append('<option val="pro-shade">Select Foundation Shade</option>');
}

//  Foundation Product Shade Select

      function doStufffoundation3(data) {
      var unique_veh = [];
    var unique_mf = [];
    var unique_md = [];
    var unique_yr = [];
   // console.log(data);
    
    $.each(data, function(key,value) {
//         console.log('Data- start: '+data[key]+'End');
     
//         console.log(key+' : '+value);
//         console.log(data[key][1]);
       var manufacturer =  data[key][1];
       var model =  data[key][2];
       var year =  data[key][3];
        var manufacturer_serh =  data[key];
//           console.log(manu_options);
    
        var array_unique_veh = data[key][1];
        unique_veh.push(array_unique_veh);
      
        var array_unique = data[key][1];
        unique_mf.push(array_unique);
    
        var array_unique1 = data[key][2];
        unique_md.push(array_unique1);
      
        var array_unique2 = data[key][3];
        unique_yr.push(array_unique2);
      
      
      
//           var val = "Ducati"; 
//          var next = manufacturer_serh[($.inArray(val, manufacturer_serh) + 1) % manufacturer_serh.length];
       //console.log(next);
      
      
         }); 
    
        
       
         var val_type = $('#brand_select-fd').val();
           console.log(val_type+'test');
       
//             var val_type = 'Sensitive';
          var manufacturer_opt1 = $('#productname_select-fd').val();
          
//              console.log(val_type+manufacturer_opt);
         var match_array = val_type+manufacturer_opt1;
//            console.log(match_array);

          var loc_array =[];
         loc_array.push(val_type); 
         loc_array.push(manufacturer_opt1); 
     
      
      var val_model = $('#manufacturer_opt').val();
       var task_namesf = [];
       data.forEach(function (i) {
         task_namesf.push(i);              
       });
       
        let checker = (arr, target) => target.every(v => arr.includes(v));
         
        
         const arr1 = loc_array;
         console.log(arr1);
       
        $('#shade_select-fd').empty();
        $('#shade_select-fd').append('<option val="pro-shade">Select Shade</option>');

          for (var i = 0; i < task_namesf.length; i++) { 
            
             var arr2_loc = task_namesf[i].filter(function (e) {return e != null;});
           const arr2 = task_namesf[i];
            
            const results = arr2.map(element => {
              if (typeof element === 'string') {
                return element;
              }

              return element;
            });
            
          // console.log(arr1);
           // console.log(results); 
            
         const contains = (first, second) => {
           const indexArray = first.map(el => {
             return second.indexOf(el);
           });
           return indexArray.indexOf(-1) === -1;
         }
         
        
         var array_checked = contains(arr1, results);
//               console.log('checked array:- '+array_checked);
       
           if (array_checked== true){
//              console.log(task_namesf[i]);
             var model_val = task_namesf[i][2].trim();
             console.log('Model value:- '+model_val);
//                $('.recommended-pro').hide();
//                $('.'+model_val).show();
             var shade_option = '<option value="'+model_val+'">'+model_val+'</option>'; 
              $("#shade_select-fd").append(shade_option); 
           }
            
            
            
          }

              
}

//   Foundation End of shade


 parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Foundation_Shade_Matching.csv?v=1660901555", doStufffoundation1);

$('#brand_select-fd').on('change', function() {
  //   alert( this.value );
  parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Foundation_Shade_Matching.csv?v=1660901555", doStufffoundation2);
});   


 $('#productname_select-fd').on('change', function() {
  //   alert( this.value );
  parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Foundation_Shade_Matching.csv?v=1660901555", doStufffoundation3);
});   

$('#shade_select-fd').on('change', function() {
$('#step3').show();
});

setInterval(function () {

    var usedNames = {};
    $(".consealer-select select > option").each(function () {
      if(usedNames[this.text]) {
        $(this).remove();
      } else {
        usedNames[this.text] = this.value;
      }
    });   
    
  $('.consealer-select select option[value="null"]').remove();
 
var usedNames1 = {};
 $(".foundation-select select > option").each(function () {
      if(usedNames1[this.text]) {
        $(this).remove();
      } else {
        usedNames1[this.text] = this.value;
      }
    });   
    
  $('.foundation-select select option[value="null"]').remove();

 
  }, 50);  
     
 $("#step2").click(function(){
   $(".Skin-type").fadeOut();
   $(".skin-more-options").fadeIn();
   });

$("#step3").click(function(){
  $(".skin-more-options").fadeOut();
  $(".recommended-output").fadeIn();
       parseData("https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Skincare-quiz-foundation-01_-_Skincare-quiz-foundation_1_1.csv?v=1672252034", doStuffsearchbundle);
});

//   $(".filtered-data .cancel").click(function(){
//      $("#a").fadeOut();
//      $("#b").fadeOut();
//   $('html, body').css({
//     overflow: 'auto',
//     height: 'auto'
// });
// });



   function sendEmail(recommended_shade,recommended_pro) {
     var resultmail = $('.resultmail').val();
  Email.send({
    Host: "smtp.gmail.com",
    Username : "lornafreetesting@gmail.com",
    Password : "lorna@123",
    To : resultmail,
    From : "lornafreetesting@gmail.com",
    Subject : "Recommended Shade and Product",
    Body : "<html><h2>Recommended Shade: "+recommended_shade+"</h2>\
            <h3>Recommnded Product: "+recommended_pro+"</h3>\
            </html>",         
  })
  .then(
    message => alert('Mail sent successfully')
  );
} 

$('#emailresults').on('click', function() {
   var recommended_shade = $('.shade-recommended').html(); 
var recommended_pro = $('.mail-product .product-item__title span').html(); 
  var resultmail = $('.resultmail').val();
  console.log(recommended_shade+' product '+recommended_pro+' Mail: '+resultmail);
sendEmail(recommended_shade,recommended_pro,resultmail);
});                       
  </script>