{% include 'breadcrumb'%}
<div class="ing-con">
  <div class="ing-first-section">
    <img class="jali" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_19.svg?v=1650008243">
    <img class="right-lines" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Mask_group.svg?v=1650008428">
    <img class="pink-circle" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_320.svg?v=1650008560">
    <div class="ing-first-section-inner">
     <p class="first-head">plus all the good stuff,</p>
  <p class="first-sub-head">minus all the bad.</p>
         <p class="first-desc">We're efficacy nerds so we don't discriminate based on natural or clinical. There's a damn good reason for every ingredient that we put into our products. With our minimalist formulation philosophy, it's out with the unnecessary, and in with only what works.
</p>
   <img class="pink-arrow-top" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Frame.svg?v=1650008669">
   <img class="top-img-text" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Get_the_best_of_both_worlds_with_the_power_of_science..svg?v=1650008867">
   
    </div>
 
  </div>
    
  <div class="diagram-con">
  <img class="circle-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_552.svg?v=1650016220">
  <img class="line-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Line_141.svg?v=1650016291">
 
    <img class="circle-diagram" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Ellipse_552.svg?v=1650016220">
 
  </div>
  <div style="position: relative;" class="img-second-con">
    <p class="the-type">the type beauty</p>
    <p class="ing-glossary">ingredient glossary</p>
    <img class="orange-rectangle" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Rectangle_232.png?v=1650017671">
  <img class="left-line" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Vector_12.svg?v=1650018132"> 
  <img class="skin-powered-text" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/SKINCARE_POWERED.svg?v=1650018451">
  <img class="big-hexa" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_89.svg?v=1653046279">
  <img class="right-bottom-pinky" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Frame_1.svg?v=1650019935">
  <img class="frame" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Frame_2.svg?v=1650020090">
  <img class="cb" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Clean_Beauty.svg?v=1650020217">
 
  </div>
</div>
{% section 'ing-contains'%}
<style>
  .cb{
  position: absolute;
    bottom: -38%;
    right: 16%;
    transform: translate(-50%, -50%);
    width: 6%;
  }
  .frame{
 position: absolute;
    bottom: -90%;
    right: 14.1%;
    transform: translate(-50%, -50%);
    width: 8%;
  }
  .right-bottom-pinky{
  position: absolute;
    top: 89%;
    right: 19%;
    transform: translate(-50%, -50%);
    width: 6%;
  }
  .small-hexa{
 position: absolute;
    top: 1.4%;
    right: 26.2%;
    transform: translate(-50%, -50%);
    width: 3%;
  }
  .big-hexa{
  position: absolute;
    top: 15%;
    right: 27%;
    transform: translate(-50%, -50%);
    width: 4%;
  }
  .skin-powered-text{
  position: absolute;
    top: 84%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 6%;
  }
  .left-line{
 position: absolute;
    left: 24%;
    top: 41%;
    transform: translate(-50%,-50%);
    width: 15%;
  }
  .ing-glossary{
  font-family: Inter;
font-weight: 900;
font-size: 3.4vw;
line-height: 122.19%;
margin: 0;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
position: relative;
color: #000000;


  }
  .orange-rectangle{
  display: block;
    margin: auto;
    width: 47%;
    margin-top: -2.4%;
    z-index: 0;
  }
  .the-type{
  text-align: center;
    font-family: Inter;
font-weight: 700;
font-size: 3.4vw;
line-height: 122.19%;
margin-bottom: 5px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;

 
    
  }
  .diagram-con{
  display: flex;
    flex-direction: column-reverse;
    max-width: 14px;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
  }
  .line-diagram{
  max-width: 3px;
  }
  .descrip-big{
  font-family: Inter;
font-weight: 500;
font-size: 25px;
line-height: 154.69%;
max-width: 1048px;
    margin: auto;
text-align: center;
letter-spacing: 0.05em;
margin-top: 65px;
    margin-bottom: 41px;
color: #000000;
  }
  .top-img-text{
  position: absolute;
   bottom: -42%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 16%;
  }
  .pink-arrow-top{
  position: absolute;
   bottom: -38%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 9%;
  }
  .pink-circle{
  position: absolute;
    right: 3%;
    bottom: -13%;
    transform: translateY(-50%);
    width: 11%;
  }
  .right-lines{
  position: absolute;
    right: 0;
    bottom: -54%;
    transform: translateY(-50%);
    width: 12%;
  }
  .jali{
  position: absolute;
    bottom: 0;
    width: 22%;
  }
  .first-desc{
  font-family: Inter;
font-weight: 500;
font-size: 25px;
line-height: 133.69%;
max-width: 694px;
margin-bottom: 0;
letter-spacing: 0.05em;
position: relative;
    z-index: 1;
color: #000000;
  }
  .first-sub-head{
  font-family: 'Inter';
font-weight: 900;
font-size: 5.2vw;
line-height: 122.19%;
margin-bottom: 40px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF8F1A;
  }
  .ing-first-section{
  position: relative;
    padding-bottom: 53px;
  }
  .ing-first-section-inner{
  max-width: 1255px;
    padding: 0 20px;
    margin: auto;
    position: relative;
  }
  .first-head{
 font-family: Inter;
font-weight: 900;
font-size: 5.1vw;
line-height: 122.19%;
margin-bottom: 0px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;

 

  }
   @media only screen and (min-width: 1560px) {
 .first-head, .first-sub-head {
   font-size: 60px;
  }
}
  @media only screen and (max-width: 768px) {
  .first-head {
   line-height: 122.19%;
    margin-bottom: 5px;
  }
    .first-desc ,.descrip-big{
    font-size: 16px;
    }
    .right-bottom-pinky {
    position: absolute;
    top: 80%;
    right: 10%;
    transform: translate(-50%, -50%);
    width: 8%;
}
    .frame {
    position: absolute;
    bottom: -113%;
    right: -3.9%;
    transform: translate(-50%, -50%);
    width: 18%;
}
    .bottom-list-section {
    margin-top: 50px;
}
    .alphabetical-list-con{
      
    margin-bottom: 50px;
    }
    .found-in{
    line-height: 199.69%;
        margin-bottom: 30px;
    }
    .name-of-ing{
    margin-top: 20px;
    }
    .cb {
    position: absolute;
    bottom: -38%;
    right: -1%;
    transform: translate(-50%, -50%);
    width: 15%;
}
    .pink-arrow-top{
   width: 18%;
    left: 15%;
    bottom: -36%;
    }
    .top-img-text {
    position: absolute;
   bottom: -38%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 26%;
}
    .right-lines {
    position: absolute;
    right: 0;
    bottom: -31%;
    transform: translateY(-50%);
    width: 12%;
}
    .diagram-con{
    margin-top: 30px;
    }
    .left-line {
    position: absolute;
    left: 12%;
    top: 41%;
    transform: translate(-50%,-50%);
    width: 14%;
}
    ing-glossary {
    font-family: Inter;
    font-weight: 900;
      font-size: 4.4vw;}
    .skin-powered-text {
    position: absolute;
    top: 84%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 14%;
}
    .the-type {
    text-align: center;
    font-family: Inter;
    font-weight: 700;
      font-size: 6.4vw;}
}
  .big-hexa {
    position: absolute;
    top: 15%;
    right: 3%;
    transform: translate(-50%, -50%);
    width: 8%;
}
  .small-hexa {
    position: absolute;
    top: 1.4%;
    right: 1.2%;
    transform: translate(-50%, -50%);
    width: 7%;
}
</style>