<div class="colab-outer">
  <div class="colab-inner">
    <div class="colab-left">
      <img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/width_547.webp?v=1739185308">
    </div>
    <div class="colab-right">
      <h3 class="team-type-heading">COLLABORATIONS</h3>
      <p>If you wish to collab email your CV/ Portfolio to <a style="text-decoration: underline;" href="mailto:info@typebeautyinc.com">info@typebeautyinc.com</a></p>
      <ol>
        <li>Name*</li>
        <li>Postal address*</li>
        <li>Phone number*</li>
        <li>email address*</li>
        <li>Instagram account (public)*</li>
        <li>have you worked with a makeup/skincare brand before - yes or no</li>
        <li>Preference - UGC / collab/ non-collab/ story/ ad rights*</li>
      </ol>
    </div>
  </div>
</div>
<style>
  .team-type-heading{
      font-size: 4rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
  }
 .colab-right *{
    color: #fff;
  }
  .colab-inner{
    display: flex;
    justify-content: space-between;
  }
  .colab-left{
      width: 40%;
  }
   .colab-right{
      width: 60%;
       padding: 50px;
       background-color: #ff66c4;
  }
   body.show-announcement-bar{
    margin-top: 140px!important;
  }
    #shopify-section-footer{
        margin-top: 0;
  }
  @media only screen and (max-width: 600px) {
  body.show-announcement-bar {
    margin-top: 102px !important;
    padding: 0;
}
    .colab-inner {
    display: flex
;
    justify-content: space-between;
    flex-direction: column-reverse;
}
    .colab-left, .colab-right{
      width: 100%;
    }
    .team-type-heading {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
}
}
</style>