<div class="page-con">{{ page.content }}</div>

<div class="globo-formbuilder" data-id="ODk4ODk="></div>
<script>
 
    setInterval(function(){
     $('.block-container').next('p').hide();
}, 1000);
  
 </script>
 <style>
   .page-con{
     max-width: 1200px;
     padding: 0 20px;
     margin: auto;
   }
   .page-con h1{
     font-size: 2em;
    font-family: 'Inter';
    font-weight: 800;
    color: #ff3fb5;
    font-style: italic;
   }
 </style>