<div class="colab-outer">
  <div class="colab-inner">
  
    <div class="colab-right">
      <h3 class="team-type-heading">CAMPUS AMBASSADOR</h3>
      <p>If you wish to collab email your CV/ Portfolio to <a style="text-decoration: underline;" href="mailto:info@typebeautyinc.com">info@typebeautyinc.com</a></p>
      <ol>
        <li>Name*</li>
        <li>Postal address*</li>
        <li>Phone number*</li>
          <li>College Name*</li>
        <li>email address*</li>
        <li>Year of passout*</li>
        <li>How long would be able to work with us? - 1-3 months, 3-6 months, less than 1 year</li>
        <li>Currently associated with any other brand - yes or no*</li>
        
      </ol>
      <p> JOB DESCRIPTION:</p>
        <ul>
          <li>
           

Product Showcase: Set up a booth or a small stall at the college fest where students can try the products.*
              </li>
<li>
Feedback Collection: Record feedbacks from students on their initial impressions, product usability.*
</li>
          <li>Mini Giveaways: Run small giveaways or contests to increase engagement and visibility during the event.* OR</li>

<li>Discount Codes: Provide students with exclusive discount codes they can share with their friends or use for personal purchases.*</li>

<li>
  Promote Upcoming Launches: Mention new product launches around campus. 
</li>
<li>Capture Visuals: Ensure they capture good-quality photos and reels randomly. </li>



*DURING THE EVENTS
        
        </ul>
    </div>
      <div class="colab-left">
      <img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/width_270.webp?v=1739188249">
    </div>
  </div>
</div>
<style>
  .team-type-heading{
      font-size: 4rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
  }
 .colab-right *{
    color: #fff;
  }
  .colab-inner{
    display: flex;
    justify-content: space-between;
  }
  .colab-left{
      width: 40%;
  }
   .colab-right{
      width: 60%;
       padding: 50px;
       background-color: #ff66c4;
  }
   body.show-announcement-bar{
    margin-top: 140px!important;
  }
    #shopify-section-footer{
        margin-top: 0;
  }
  @media only screen and (max-width: 600px) {
  body.show-announcement-bar {
    margin-top: 102px !important;
    padding: 0;
}
    .colab-inner {
    display: block;
}
    .colab-left, .colab-right{
      width: 100%;
    }
    .team-type-heading {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
}
}
</style>