<div class="team-type-outer">
  <div class="team-type-inner">
    <div class="team-left">
      <h3 class="team-type-heading">TEAM TYPE</h3>
      <p class="opening-text">Openings for our internal team</p>
      <div style="margin-bottom: 4rem;">
        <p>1. <b style="font-weight: 800;">JR. GRAPHIC DESIGNER</b></p>
        <p>JOB DESCRIPTION</p>
        <p>- 1-2 years of experience in graphic design <br>
- Familiarity with Adobe software <br>
- Strong video editing skills <br>
- Overall great eye for aesthetics <br><br>

The role will be full time in person at our Connaught Place office in Delhi!<br> 
If interested email your CV/ Portfolio to <a style="text-decoration: underline;" href="mailto:info@typebeautyinc.com">info@typebeautyinc.com</a>
</p>
      </div>

      <div>
        <p>2. <b style="font-weight: 800;">CONTENT CREATOR</b></p>
      <p>Location: Connaught Place (CP), Delhi<br>
Role: Full-Time (On-site)<br><br>

About Us:<br>
Type Beauty is a dynamic and growing start-up specializing in semi-customized skincare infused makeup products. We take pride in manufacturing and marketing high-quality makeup that caters to diverse beauty needs. We are listed on multiple e-commerce platforms, and we're looking for a talented Graphic Designer to join our creative team.
<br><br>
Role & Responsibilities:<br>
-	Collaborate with the in-house team to create engaging content.<br>
-	Stay updated on the latest trends and tools in marketing.<br>
-	Create in-house content during shoots<br><br>

Required Skills:<br>
-	Comfortable in front of and behind the camera<br>
-	Strong shooting and editing skills<br>
-	Ability to produce content independently and collaboratively<br>
-	2-3 years of experience<br><br>

If interested email your CV/ Portfolio to <a style="text-decoration: underline;" href="mailto:info@typebeautyinc.com">info@typebeautyinc.com</a>
</p>
      </div>
    </div>
    <div class="team-right" style="background-color: #f1e4e0;">
      <img style="width: 100%;display: block;" width="100%" height="auto" src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/WhatsApp_Image_2025-01-22_at_10.36.41_PM_35dad5bc-d5e3-49b6-a6bc-112c049f574f.jpg?v=1739005179">
    </div>
  </div>
</div>
<style>
  .team-type-heading{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
  }
  .team-left *{
    color: #fff;
  }
   body.show-announcement-bar{
    margin-top: 140px!important;
  }
  #shopify-section-footer{
        margin-top: 0;
  }
  .team-left{
    padding: 50px;
      background-color: #ff66c4;
  }
  .team-type-inner{
    display: flex;
  }
  .team-left{
    width: 60%;
  }
  .team-right{
    width: 40%;
  }
  @media only screen and (max-width: 600px) {
  body.show-announcement-bar {
    margin-top: 102px !important;
    padding: 0;
}
    .team-type-inner{
      display: block;
    }
    .team-left, .team-right{
      width: 100%;
    }
    .team-type-heading {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3rem;
    width: 100%;
}
}
</style>