<div class="policies-page-con">
  <div class="info-block">
    <p class="head-to-head">contact us</p>
    <p>Please contact us for any questions or comments regarding the Products or the Website.</p>
   
     <a class="somewhere" href="mailto:customerservice@typebeautyinc.com">customerservice@typebeautyinc.com</a>
   <a class="somewhere" href="tel:01294269048">0129 4269048</a>
     <a class="somewhere" href="tel:9625226472">96252 26472</a>
   
  </div>
   <div class="info-block">
    <p class="head-to-head">faq</p>
     <div class="faq-block">
       <div class="flexed">
         <a href="javascript:void(0)" class="faq-head">shipping</a>
         <div><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 10L6 5.5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</div>
       </div>
       <div class="faq-answer">
         <p class="faq-inner-head">What is your return/ refund policy? </p>
         <p class="faq-inner-sub-head">Your satisfaction is our number one priority and we try to process any returns as such. 

           If you have received a damaged product please send a picture of the damaged product to <a href="mailto:customerservice@typebeautyinc.com">customerservice@typebeautyinc.com</a>

On verifying the damage we will replace the product within 1 week of receiving said email. 

If there are any other issues with the product you received please contact <a href="mailto:customerservice@typebeautyinc.com">customerservice@typebeautyinc.com</a> and we will try our best to make sure any issues are rectified. 
</p>
     <p class="faq-inner-head">What is your shipping policy? </p>
         <p class="faq-inner-sub-head">For domestic orders. 

We provide free shipping for all orders over rupees 2000. 

For orders under 2000. 

We charge standard shipping of rupees 50 per order. 

For international orders. 

Shipping is calculated at checkout and charged on actual. 
</p>
     
       
       </div>
     </div>
     <div class="faq-block">
       <div class="flexed">
         <a href="javascript:void(0)" class="faq-head">product</a>
         <div><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 10L6 5.5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</div>
       </div>
       <div class="faq-answer">
         <p class="faq-inner-head">How do I find my perfect shade? 
</p>
         <p class="faq-inner-sub-head">The shade matching section of our quiz will surely help point you in the correct direction. If you are not convinced please contact customerservice@typebeautyinc.com and we will personally help you match your perfect shade. </p>
   
       
       </div>
     </div>
    
  </div>
 
   <div class="info-block">
    
    <p class="head-to-head">returns & exchanges</p>
     <p class="policy-text">Your satisfaction is our number one priority and we try to process any returns as such. <br>

       If you have received a damaged product please send a picture of the damaged product to <a href="mailto:customerservice@typebeautyinc.com">customerservice@typebeautyinc.com</a><br>

On verifying the damage we will replace the product within 1 week of receiving said email. <br>

If there are any other issues with the product you received please contact <a href="mailto:customerservice@typebeautyinc.com">customerservice@typebeautyinc.com</a> and we will try our best to make sure any issues are rectified. <br>

</p>
  </div>
    <div class="info-block">
    <p class="head-to-head">shipping policy</p>
     <p class="policy-text">
For domestic orders.<br> 

We provide free shipping for all orders over rupees 2000. <br> 

For orders under 2000. <br> 

We charge standard shipping of rupees 50 per order.<br>  

For international orders. <br> 

Shipping is calculated at checkout and charged on actual.<br> 

</p>
  </div>
 


  
</div>
<style>
  
  .faq-inner-sub-head{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 154.69%;
margin-bottom: 35px;
letter-spacing: 0.05em;

color: #000000;
  }
  .faq-inner-head{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;
margin-bottom: 12px;
color: #000000;
  }
  .policy-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 154.69%;
margin: 0;
letter-spacing: 0.05em;

color: #000000;
  }
  .somewhere{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.05em;
display: block;
    width: max-content;
    margin-bottom: 20px;
color: #000000;
    transition: all 0.2s ease-out;
  }
  .somewhere:hover{
  color: #FF3FB5;
  }
  .info-block{
  padding-bottom: 80px;
    border-bottom: 2px solid #FF8F1A;
    padding-top: 75px;
  }
  .policies-page-con{
  max-width: 90%;
    padding: 0 20px;
    margin: auto;
  }
  .head-to-head{
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 154.69%;
margin-bottom: 20px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .faq-answer{
  padding-top: 20px;
    display: none;
  }
  .flexed{
  display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .faq-head{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.05em;
text-transform: uppercase;
margin-right: 15px;
color: #000000;
    pointer: cursor;
  }
  .oranged{
  color: #FF8F1A!important;
    border-bottom: 1px solid #FF8F1A;
  }
  .orangedd{
  stroke: #FF8F1A!important;
  }
  @media only screen and (max-width: 1100px) {
  .info-block {
   padding-top: 40px;
    padding-bottom: 40px;
  }
    .head-to-head{
    font-size: 32px;
    }
    .somewhere{
    font-size: 18px;
      margin-bottom: 13px;
    }
    .faq-head{
    font-size: 18px;
    }
}
  @media only screen and (max-width: 768px) {
  .info-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
    .head-to-head {
    font-size: 27px;
      margin-bottom: 10px;
}
    .somewhere {
    font-size: 14px;
    margin-bottom: 6px;
}
    .flexed {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
    .faq-head {
    font-size: 16px;
}
  }
</style>
<script>
$( ".flexed" ).click(function() {
$(this).find('.faq-head').toggleClass("oranged"); 
  $(this).find('path').toggleClass("orangedd");
  $(this).siblings('.faq-answer').slideToggle();
});
</script>